src/TermBrowser/TermBrowser/src/main/webapp/WEB-INF/wsdl/localhost_8080/TermServer/Administration.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.4-b01-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.4-b01-. --><definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://administration.ws.terminologie.fhdo.de/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://administration.ws.terminologie.fhdo.de/" name="Administration">
<types>
<xsd:schema>
<xsd:import namespace="http://administration.ws.terminologie.fhdo.de/" schemaLocation="http://localhost:8080/TermServer/Administration?xsd=1"></xsd:import>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="de.fhdo.termserver.types" schemaLocation="http://localhost:8080/TermServer/Administration?xsd=2"></xsd:import>
</xsd:schema>
</types>
<message name="ImportCodeSystemStatus">
<part name="parameters" element="tns:ImportCodeSystemStatus"></part>
</message>
<message name="ImportCodeSystemStatusResponse">
<part name="parameters" element="tns:ImportCodeSystemStatusResponse"></part>
</message>
<message name="ActualProceedings">
<part name="parameters" element="tns:ActualProceedings"></part>
</message>
<message name="ActualProceedingsResponse">
<part name="parameters" element="tns:ActualProceedingsResponse"></part>
</message>
<message name="ExportValueSetContent">
<part name="parameters" element="tns:ExportValueSetContent"></part>
</message>
<message name="ExportValueSetContentResponse">
<part name="parameters" element="tns:ExportValueSetContentResponse"></part>
</message>
<message name="ExportCodeSystemContent">
<part name="parameters" element="tns:ExportCodeSystemContent"></part>
</message>
<message name="ExportCodeSystemContentResponse">
<part name="parameters" element="tns:ExportCodeSystemContentResponse"></part>
</message>
<message name="ImportCodeSystemCancel">
<part name="parameters" element="tns:ImportCodeSystemCancel"></part>
</message>
<message name="ImportCodeSystemCancelResponse">
<part name="parameters" element="tns:ImportCodeSystemCancelResponse"></part>
</message>
<message name="CreateDomain">
<part name="parameters" element="tns:CreateDomain"></part>
</message>
<message name="CreateDomainResponse">
<part name="parameters" element="tns:CreateDomainResponse"></part>
</message>
<message name="MaintainDomain">
<part name="parameters" element="tns:MaintainDomain"></part>
</message>
<message name="MaintainDomainResponse">
<part name="parameters" element="tns:MaintainDomainResponse"></part>
</message>
<message name="ImportCodeSystem">
<part name="parameters" element="tns:ImportCodeSystem"></part>
</message>
<message name="ImportCodeSystemResponse">
<part name="parameters" element="tns:ImportCodeSystemResponse"></part>
</message>
<message name="ImportValueSet">
<part name="parameters" element="tns:ImportValueSet"></part>
</message>
<message name="ImportValueSetResponse">
<part name="parameters" element="tns:ImportValueSetResponse"></part>
</message>
<portType name="Administration">
<operation name="ImportCodeSystemStatus">
<input message="tns:ImportCodeSystemStatus"></input>
<output message="tns:ImportCodeSystemStatusResponse"></output>
</operation>
<operation name="ActualProceedings">
<input message="tns:ActualProceedings"></input>
<output message="tns:ActualProceedingsResponse"></output>
</operation>
<operation name="ExportValueSetContent">
<input message="tns:ExportValueSetContent"></input>
<output message="tns:ExportValueSetContentResponse"></output>
</operation>
<operation name="ExportCodeSystemContent">
<input message="tns:ExportCodeSystemContent"></input>
<output message="tns:ExportCodeSystemContentResponse"></output>
</operation>
<operation name="ImportCodeSystemCancel">
<input message="tns:ImportCodeSystemCancel"></input>
<output message="tns:ImportCodeSystemCancelResponse"></output>
</operation>
<operation name="CreateDomain">
<input message="tns:CreateDomain"></input>
<output message="tns:CreateDomainResponse"></output>
</operation>
<operation name="MaintainDomain">
<input message="tns:MaintainDomain"></input>
<output message="tns:MaintainDomainResponse"></output>
</operation>
<operation name="ImportCodeSystem">
<input message="tns:ImportCodeSystem"></input>
<output message="tns:ImportCodeSystemResponse"></output>
</operation>
<operation name="ImportValueSet">
<input message="tns:ImportValueSet"></input>
<output message="tns:ImportValueSetResponse"></output>
</operation>
</portType>
<binding name="AdministrationPortBinding" type="tns:Administration">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="ImportCodeSystemStatus">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="ActualProceedings">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="ExportValueSetContent">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="ExportCodeSystemContent">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="ImportCodeSystemCancel">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="CreateDomain">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="MaintainDomain">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="ImportCodeSystem">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="ImportValueSet">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
</binding>
<service name="Administration">
<port name="AdministrationPort" binding="tns:AdministrationPortBinding">
<soap:address location="http://localhost:8080/TermServer/Administration"></soap:address>
</port>
</service>
</definitions>