src/TermBrowser/TermBrowser/src/main/webapp/WEB-INF/wsdl/localhost_8080/TermServer/Authoring.xsd_2.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.4-b01-. --><xs:schema xmlns:tns="de.fhdo.termserver.types" xmlns:ns1="http://authoring.ws.terminologie.fhdo.de/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="de.fhdo.termserver.types">

<xs:import namespace="http://authoring.ws.terminologie.fhdo.de/" schemaLocation="http://localhost:8080/TermServer/Authoring?xsd=1"></xs:import>

<xs:complexType name="valueSetMetadataValue">
<xs:sequence>
<xs:element name="codeSystemEntityVersion" type="tns:codeSystemEntityVersion" minOccurs="0"></xs:element>
<xs:element name="id" type="xs:long" minOccurs="0"></xs:element>
<xs:element name="metadataParameter" type="tns:metadataParameter" minOccurs="0"></xs:element>
<xs:element name="parameterValue" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="valuesetVersionId" type="xs:long" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="codeSystemEntityVersion">
<xs:sequence>
<xs:element name="associationTypes" type="tns:associationType" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
<xs:element name="codeSystemConcepts" type="tns:codeSystemConcept" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
<xs:element name="codeSystemEntity" type="tns:codeSystemEntity" minOccurs="0"></xs:element>
<xs:element name="codeSystemEntityVersionAssociationsForCodeSystemEntityVersionId1" type="tns:codeSystemEntityVersionAssociation" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
<xs:element name="codeSystemEntityVersionAssociationsForCodeSystemEntityVersionId2" type="tns:codeSystemEntityVersionAssociation" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
<xs:element name="codeSystemMetadataValues" type="tns:codeSystemMetadataValue" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
<xs:element name="conceptValueSetMemberships" type="tns:conceptValueSetMembership" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
<xs:element name="effectiveDate" type="xs:dateTime" minOccurs="0"></xs:element>
<xs:element name="insertTimestamp" type="xs:dateTime" minOccurs="0"></xs:element>
<xs:element name="isLeaf" type="xs:boolean" minOccurs="0"></xs:element>
<xs:element name="majorRevision" type="xs:int" minOccurs="0"></xs:element>
<xs:element name="minorRevision" type="xs:int" minOccurs="0"></xs:element>
<xs:element name="previousVersionId" type="xs:long" minOccurs="0"></xs:element>
<xs:element name="statusDeactivated" type="xs:int" minOccurs="0"></xs:element>
<xs:element name="statusDeactivatedDate" type="xs:dateTime" minOccurs="0"></xs:element>
<xs:element name="statusVisibility" type="xs:int" minOccurs="0"></xs:element>
<xs:element name="statusVisibilityDate" type="xs:dateTime" minOccurs="0"></xs:element>
<xs:element name="statusWorkflow" type="xs:int" minOccurs="0"></xs:element>
<xs:element name="statusWorkflowDate" type="xs:dateTime" minOccurs="0"></xs:element>
<xs:element name="valueSetMetadataValues" type="tns:valueSetMetadataValue" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
<xs:element name="versionId" type="xs:long" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="associationType">
<xs:sequence>
<xs:element name="codeSystemEntityVersion" type="tns:codeSystemEntityVersion" minOccurs="0"></xs:element>
<xs:element name="codeSystemEntityVersionAssociations" type="tns:codeSystemEntityVersionAssociation" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
<xs:element name="codeSystemEntityVersionId" type="xs:long" minOccurs="0"></xs:element>
<xs:element name="forwardName" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="reverseName" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="codeSystemEntityVersionAssociation">
<xs:sequence>
<xs:element name="associationKind" type="xs:int" minOccurs="0"></xs:element>
<xs:element name="associationType" type="tns:associationType" minOccurs="0"></xs:element>
<xs:element name="codeSystemEntityVersionByCodeSystemEntityVersionId1" type="tns:codeSystemEntityVersion" minOccurs="0"></xs:element>
<xs:element name="codeSystemEntityVersionByCodeSystemEntityVersionId2" type="tns:codeSystemEntityVersion" minOccurs="0"></xs:element>
<xs:element name="id" type="xs:long" minOccurs="0"></xs:element>
<xs:element name="insertTimestamp" type="xs:dateTime" minOccurs="0"></xs:element>
<xs:element name="leftId" type="xs:long" minOccurs="0"></xs:element>
<xs:element name="status" type="xs:int" minOccurs="0"></xs:element>
<xs:element name="statusDate" type="xs:dateTime" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="codeSystemConcept">
<xs:sequence>
<xs:element name="code" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="codeSystemConceptTranslations" type="tns:codeSystemConceptTranslation" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
<xs:element name="codeSystemEntityVersion" type="tns:codeSystemEntityVersion" minOccurs="0"></xs:element>
<xs:element name="codeSystemEntityVersionId" type="xs:long" minOccurs="0"></xs:element>
<xs:element name="description" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="hints" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="isPreferred" type="xs:boolean" minOccurs="0"></xs:element>
<xs:element name="meaning" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="term" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="termAbbrevation" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="codeSystemConceptTranslation">
<xs:sequence>
<xs:element name="codeSystemConcept" type="tns:codeSystemConcept" minOccurs="0"></xs:element>
<xs:element name="description" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="hints" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="id" type="xs:long" minOccurs="0"></xs:element>
<xs:element name="languageCd" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="meaning" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="term" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="termAbbrevation" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="codeSystemEntity">
<xs:sequence>
<xs:element name="codeSystemEntityVersions" type="tns:codeSystemEntityVersion" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
<xs:element name="codeSystemVersionEntityMemberships" type="tns:codeSystemVersionEntityMembership" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
<xs:element name="currentVersionId" type="xs:long" minOccurs="0"></xs:element>
<xs:element name="id" type="xs:long" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="codeSystemVersionEntityMembership">
<xs:sequence>
<xs:element name="codeSystemEntity" type="tns:codeSystemEntity" minOccurs="0"></xs:element>
<xs:element name="codeSystemVersion" type="tns:codeSystemVersion" minOccurs="0"></xs:element>
<xs:element name="id" type="tns:codeSystemVersionEntityMembershipId" minOccurs="0"></xs:element>
<xs:element name="isAxis" type="xs:boolean" minOccurs="0"></xs:element>
<xs:element name="isMainClass" type="xs:boolean" minOccurs="0"></xs:element>
<xs:element name="orderNr" type="xs:long" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="codeSystemVersion">
<xs:sequence>
<xs:element name="availableLanguages" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="codeSystem" type="tns:codeSystem" minOccurs="0"></xs:element>
<xs:element name="codeSystemVersionEntityMemberships" type="tns:codeSystemVersionEntityMembership" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
<xs:element name="description" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="expirationDate" type="xs:dateTime" minOccurs="0"></xs:element>
<xs:element name="insertTimestamp" type="xs:dateTime" minOccurs="0"></xs:element>
<xs:element name="lastChangeDate" type="xs:dateTime" minOccurs="0"></xs:element>
<xs:element name="licenceHolder" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="licenceTypes" type="tns:licenceType" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
<xs:element name="licencedUsers" type="tns:licencedUser" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
<xs:element name="name" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="oid" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="preferredLanguageCd" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="previousVersionId" type="xs:long" minOccurs="0"></xs:element>
<xs:element name="releaseDate" type="xs:dateTime" minOccurs="0"></xs:element>
<xs:element name="source" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="status" type="xs:int" minOccurs="0"></xs:element>
<xs:element name="statusDate" type="xs:dateTime" minOccurs="0"></xs:element>
<xs:element name="underLicence" type="xs:boolean" minOccurs="0"></xs:element>
<xs:element name="validityRange" type="xs:long" minOccurs="0"></xs:element>
<xs:element name="versionId" type="xs:long" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="codeSystem">
<xs:sequence>
<xs:element name="codeSystemType" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="codeSystemVersions" type="tns:codeSystemVersion" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
<xs:element name="currentVersionId" type="xs:long" minOccurs="0"></xs:element>
<xs:element name="description" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="descriptionEng" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="domainValues" type="tns:domainValue" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
<xs:element name="id" type="xs:long" minOccurs="0"></xs:element>
<xs:element name="insertTimestamp" type="xs:dateTime" minOccurs="0"></xs:element>
<xs:element name="metadataParameters" type="tns:metadataParameter" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
<xs:element name="name" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="website" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="domainValue">
<xs:sequence>
<xs:element name="attribut1classname" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="attribut1value" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="codeSystems" type="tns:codeSystem" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
<xs:element name="domain" type="tns:domain" minOccurs="0"></xs:element>
<xs:element name="domainCode" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="domainDisplay" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="domainValueId" type="xs:long" minOccurs="0"></xs:element>
<xs:element name="domainValuesForDomainValueId1" type="tns:domainValue" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
<xs:element name="domainValuesForDomainValueId2" type="tns:domainValue" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
<xs:element name="imageFile" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="orderNo" type="xs:int" minOccurs="0"></xs:element>
<xs:element name="sysParamsForModifyLevel" type="tns:sysParam" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
<xs:element name="sysParamsForValidityDomain" type="tns:sysParam" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
<xs:element name="valueSets" type="tns:valueSet" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="domain">
<xs:sequence>
<xs:element name="defaultValue" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="description" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="displayOrder" type="xs:long" minOccurs="0"></xs:element>
<xs:element name="displayText" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="domainId" type="xs:long" minOccurs="0"></xs:element>
<xs:element name="domainName" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="domainOid" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="domainType" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="domainValues" type="tns:domainValue" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
<xs:element name="isOptional" type="xs:boolean" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="sysParam">
<xs:sequence>
<xs:element name="description" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="domainValueByModifyLevel" type="tns:domainValue" minOccurs="0"></xs:element>
<xs:element name="domainValueByValidityDomain" type="tns:domainValue" minOccurs="0"></xs:element>
<xs:element name="id" type="xs:long" minOccurs="0"></xs:element>
<xs:element name="javaDatatype" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="name" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="objectId" type="xs:long" minOccurs="0"></xs:element>
<xs:element name="value" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="valueSet">
<xs:sequence>
<xs:element name="currentVersionId" type="xs:long" minOccurs="0"></xs:element>
<xs:element name="description" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="descriptionEng" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="id" type="xs:long" minOccurs="0"></xs:element>
<xs:element name="metadataParameters" type="tns:metadataParameter" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
<xs:element name="name" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="status" type="xs:int" minOccurs="0"></xs:element>
<xs:element name="statusDate" type="xs:dateTime" minOccurs="0"></xs:element>
<xs:element name="valueSetVersions" type="tns:valueSetVersion" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
<xs:element name="website" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="metadataParameter">
<xs:sequence>
<xs:element name="codeSystem" type="tns:codeSystem" minOccurs="0"></xs:element>
<xs:element name="codeSystemMetadataValues" type="tns:codeSystemMetadataValue" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
<xs:element name="description" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="id" type="xs:long" minOccurs="0"></xs:element>
<xs:element name="languageCd" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="maxLength" type="xs:int" minOccurs="0"></xs:element>
<xs:element name="metadataParameterType" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="paramDatatype" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="paramName" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="paramNameDisplay" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="valueSet" type="tns:valueSet" minOccurs="0"></xs:element>
<xs:element name="valueSetMetadataValues" type="tns:valueSetMetadataValue" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="codeSystemMetadataValue">
<xs:sequence>
<xs:element name="codeSystemEntityVersion" type="tns:codeSystemEntityVersion" minOccurs="0"></xs:element>
<xs:element name="id" type="xs:long" minOccurs="0"></xs:element>
<xs:element name="metadataParameter" type="tns:metadataParameter" minOccurs="0"></xs:element>
<xs:element name="parameterValue" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="valueSetVersion">
<xs:sequence>
<xs:element name="conceptValueSetMemberships" type="tns:conceptValueSetMembership" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
<xs:element name="insertTimestamp" type="xs:dateTime" minOccurs="0"></xs:element>
<xs:element name="lastChangeDate" type="xs:dateTime" minOccurs="0"></xs:element>
<xs:element name="name" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="oid" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="preferredLanguageCd" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="previousVersionId" type="xs:long" minOccurs="0"></xs:element>
<xs:element name="releaseDate" type="xs:dateTime" minOccurs="0"></xs:element>
<xs:element name="status" type="xs:int" minOccurs="0"></xs:element>
<xs:element name="statusDate" type="xs:dateTime" minOccurs="0"></xs:element>
<xs:element name="validityRange" type="xs:long" minOccurs="0"></xs:element>
<xs:element name="valueSet" type="tns:valueSet" minOccurs="0"></xs:element>
<xs:element name="versionId" type="xs:long" minOccurs="0"></xs:element>
<xs:element name="virtualCodeSystemVersionId" type="xs:long" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="conceptValueSetMembership">
<xs:sequence>
<xs:element name="codeSystemEntityVersion" type="tns:codeSystemEntityVersion" minOccurs="0"></xs:element>
<xs:element name="description" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="hints" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="id" type="tns:conceptValueSetMembershipId" minOccurs="0"></xs:element>
<xs:element name="isStructureEntry" type="xs:boolean" minOccurs="0"></xs:element>
<xs:element name="meaning" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="orderNr" type="xs:long" minOccurs="0"></xs:element>
<xs:element name="status" type="xs:int" minOccurs="0"></xs:element>
<xs:element name="statusDate" type="xs:dateTime" minOccurs="0"></xs:element>
<xs:element name="valueOverride" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="valueSetVersion" type="tns:valueSetVersion" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="conceptValueSetMembershipId">
<xs:sequence>
<xs:element name="codeSystemEntityVersionId" type="xs:long" minOccurs="0"></xs:element>
<xs:element name="valuesetVersionId" type="xs:long" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="licenceType">
<xs:sequence>
<xs:element name="codeSystemVersion" type="tns:codeSystemVersion" minOccurs="0"></xs:element>
<xs:element name="id" type="xs:long" minOccurs="0"></xs:element>
<xs:element name="licencedUsers" type="tns:licencedUser" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
<xs:element name="typeTxt" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="licencedUser">
<xs:sequence>
<xs:element name="codeSystemVersion" type="tns:codeSystemVersion" minOccurs="0"></xs:element>
<xs:element name="id" type="tns:licencedUserId" minOccurs="0"></xs:element>
<xs:element name="licenceType" type="tns:licenceType" minOccurs="0"></xs:element>
<xs:element name="termUser" type="tns:termUser" minOccurs="0"></xs:element>
<xs:element name="validFrom" type="xs:dateTime" minOccurs="0"></xs:element>
<xs:element name="validTo" type="xs:dateTime" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="licencedUserId">
<xs:sequence>
<xs:element name="codeSystemVersionId" type="xs:long" minOccurs="0"></xs:element>
<xs:element name="userId" type="xs:long" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="termUser">
<xs:sequence>
<xs:element name="activationMd5" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="activationTime" type="xs:dateTime" minOccurs="0"></xs:element>
<xs:element name="email" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="id" type="xs:long" minOccurs="0"></xs:element>
<xs:element name="isAdmin" type="xs:boolean"></xs:element>
<xs:element name="licencedUsers" type="tns:licencedUser" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
<xs:element name="name" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="passw" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="pseudonym" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="salt" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="sessions" type="tns:session" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
<xs:element name="userName" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="session">
<xs:sequence>
<xs:element name="id" type="xs:long" minOccurs="0"></xs:element>
<xs:element name="ipAddress" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="lastTimestamp" type="xs:dateTime" minOccurs="0"></xs:element>
<xs:element name="sessionId" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="termUser" type="tns:termUser" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="codeSystemVersionEntityMembershipId">
<xs:sequence>
<xs:element name="codeSystemEntityId" type="xs:long" minOccurs="0"></xs:element>
<xs:element name="codeSystemVersionId" type="xs:long" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>
</xs:schema>