src/TermBrowser/TermBrowser/src/main/webapp/WEB-INF/wsdl/localhost_8080/TermServer/Authorization.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.4-b01-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.4-b01-. --><definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://authorization.ws.terminologie.fhdo.de/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://authorization.ws.terminologie.fhdo.de/" name="Authorization">
<types>
<xsd:schema>
<xsd:import namespace="http://authorization.ws.terminologie.fhdo.de/" schemaLocation="http://localhost:8080/TermServer/Authorization?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="Authenticate">
<part name="parameters" element="tns:Authenticate"></part>
</message>
<message name="AuthenticateResponse">
<part name="parameters" element="tns:AuthenticateResponse"></part>
</message>
<message name="Logout">
<part name="parameters" element="tns:Logout"></part>
</message>
<message name="LogoutResponse">
<part name="parameters" element="tns:LogoutResponse"></part>
</message>
<message name="Login">
<part name="parameters" element="tns:Login"></part>
</message>
<message name="LoginResponse">
<part name="parameters" element="tns:LoginResponse"></part>
</message>
<message name="ChangePassword">
<part name="parameters" element="tns:ChangePassword"></part>
</message>
<message name="ChangePasswordResponse">
<part name="parameters" element="tns:ChangePasswordResponse"></part>
</message>
<portType name="Authorization">
<operation name="Authenticate">
<input message="tns:Authenticate"></input>
<output message="tns:AuthenticateResponse"></output>
</operation>
<operation name="Logout">
<input message="tns:Logout"></input>
<output message="tns:LogoutResponse"></output>
</operation>
<operation name="Login">
<input message="tns:Login"></input>
<output message="tns:LoginResponse"></output>
</operation>
<operation name="ChangePassword">
<input message="tns:ChangePassword"></input>
<output message="tns:ChangePasswordResponse"></output>
</operation>
</portType>
<binding name="AuthorizationPortBinding" type="tns:Authorization">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="Authenticate">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="Logout">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="Login">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="ChangePassword">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
</binding>
<service name="Authorization">
<port name="AuthorizationPort" binding="tns:AuthorizationPortBinding">
<soap:address location="http://localhost:8080/TermServer/Authorization"></soap:address>
</port>
</service>
</definitions>