src/TermBrowser/TermBrowser/src/main/webapp/WEB-INF/wsdl/localhost_8080/TermServer/Authoring.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.4-b01-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.4-b01-. --><definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://authoring.ws.terminologie.fhdo.de/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://authoring.ws.terminologie.fhdo.de/" name="Authoring">
<types>
<xsd:schema>
<xsd:import namespace="http://authoring.ws.terminologie.fhdo.de/" schemaLocation="http://localhost:8080/TermServer/Authoring?xsd=1"></xsd:import>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="de.fhdo.termserver.types" schemaLocation="http://localhost:8080/TermServer/Authoring?xsd=2"></xsd:import>
</xsd:schema>
</types>
<message name="MaintainCodeSystemConceptMetadataValue">
<part name="parameters" element="tns:MaintainCodeSystemConceptMetadataValue"></part>
</message>
<message name="MaintainCodeSystemConceptMetadataValueResponse">
<part name="parameters" element="tns:MaintainCodeSystemConceptMetadataValueResponse"></part>
</message>
<message name="CreateValueSetConceptMetadataValue">
<part name="parameters" element="tns:CreateValueSetConceptMetadataValue"></part>
</message>
<message name="CreateValueSetConceptMetadataValueResponse">
<part name="parameters" element="tns:CreateValueSetConceptMetadataValueResponse"></part>
</message>
<message name="DeleteValueSetConceptMetadataValue">
<part name="parameters" element="tns:DeleteValueSetConceptMetadataValue"></part>
</message>
<message name="DeleteValueSetConceptMetadataValueResponse">
<part name="parameters" element="tns:DeleteValueSetConceptMetadataValueResponse"></part>
</message>
<message name="MaintainValueSetConceptMetadataValue">
<part name="parameters" element="tns:MaintainValueSetConceptMetadataValue"></part>
</message>
<message name="MaintainValueSetConceptMetadataValueResponse">
<part name="parameters" element="tns:MaintainValueSetConceptMetadataValueResponse"></part>
</message>
<message name="UpdateConceptValueSetMembershipStatus">
<part name="parameters" element="tns:UpdateConceptValueSetMembershipStatus"></part>
</message>
<message name="UpdateConceptValueSetMembershipStatusResponse">
<part name="parameters" element="tns:UpdateConceptValueSetMembershipStatusResponse"></part>
</message>
<message name="MaintainConceptValueSetMembership">
<part name="parameters" element="tns:MaintainConceptValueSetMembership"></part>
</message>
<message name="MaintainConceptValueSetMembershipResponse">
<part name="parameters" element="tns:MaintainConceptValueSetMembershipResponse"></part>
</message>
<message name="CreateValueSet">
<part name="parameters" element="tns:CreateValueSet"></part>
</message>
<message name="CreateValueSetResponse">
<part name="parameters" element="tns:CreateValueSetResponse"></part>
</message>
<message name="CreateConcept">
<part name="parameters" element="tns:CreateConcept"></part>
</message>
<message name="CreateConceptResponse">
<part name="parameters" element="tns:CreateConceptResponse"></part>
</message>
<message name="CreateCodeSystem">
<part name="parameters" element="tns:CreateCodeSystem"></part>
</message>
<message name="CreateCodeSystemResponse">
<part name="parameters" element="tns:CreateCodeSystemResponse"></part>
</message>
<message name="MaintainValueSet">
<part name="parameters" element="tns:MaintainValueSet"></part>
</message>
<message name="MaintainValueSetResponse">
<part name="parameters" element="tns:MaintainValueSetResponse"></part>
</message>
<message name="MaintainConcept">
<part name="parameters" element="tns:MaintainConcept"></part>
</message>
<message name="MaintainConceptResponse">
<part name="parameters" element="tns:MaintainConceptResponse"></part>
</message>
<message name="MaintainCodeSystemVersion">
<part name="parameters" element="tns:MaintainCodeSystemVersion"></part>
</message>
<message name="MaintainCodeSystemVersionResponse">
<part name="parameters" element="tns:MaintainCodeSystemVersionResponse"></part>
</message>
<message name="RemoveTerminologyOrConcept">
<part name="parameters" element="tns:RemoveTerminologyOrConcept"></part>
</message>
<message name="RemoveTerminologyOrConceptResponse">
<part name="parameters" element="tns:RemoveTerminologyOrConceptResponse"></part>
</message>
<message name="UpdateValueSetStatus">
<part name="parameters" element="tns:UpdateValueSetStatus"></part>
</message>
<message name="UpdateValueSetStatusResponse">
<part name="parameters" element="tns:UpdateValueSetStatusResponse"></part>
</message>
<message name="UpdateConceptStatus">
<part name="parameters" element="tns:UpdateConceptStatus"></part>
</message>
<message name="UpdateConceptStatusResponse">
<part name="parameters" element="tns:UpdateConceptStatusResponse"></part>
</message>
<message name="MaintainConceptAssociationType">
<part name="parameters" element="tns:MaintainConceptAssociationType"></part>
</message>
<message name="MaintainConceptAssociationTypeResponse">
<part name="parameters" element="tns:MaintainConceptAssociationTypeResponse"></part>
</message>
<message name="RemoveValueSetContent">
<part name="parameters" element="tns:RemoveValueSetContent"></part>
</message>
<message name="RemoveValueSetContentResponse">
<part name="parameters" element="tns:RemoveValueSetContentResponse"></part>
</message>
<message name="CreateConceptAssociationType">
<part name="parameters" element="tns:CreateConceptAssociationType"></part>
</message>
<message name="CreateConceptAssociationTypeResponse">
<part name="parameters" element="tns:CreateConceptAssociationTypeResponse"></part>
</message>
<message name="CreateValueSetContent">
<part name="parameters" element="tns:CreateValueSetContent"></part>
</message>
<message name="CreateValueSetContentResponse">
<part name="parameters" element="tns:CreateValueSetContentResponse"></part>
</message>
<message name="UpdateCodeSystemVersionStatus">
<part name="parameters" element="tns:UpdateCodeSystemVersionStatus"></part>
</message>
<message name="UpdateCodeSystemVersionStatusResponse">
<part name="parameters" element="tns:UpdateCodeSystemVersionStatusResponse"></part>
</message>
<portType name="Authoring">
<operation name="MaintainCodeSystemConceptMetadataValue">
<input message="tns:MaintainCodeSystemConceptMetadataValue"></input>
<output message="tns:MaintainCodeSystemConceptMetadataValueResponse"></output>
</operation>
<operation name="CreateValueSetConceptMetadataValue">
<input message="tns:CreateValueSetConceptMetadataValue"></input>
<output message="tns:CreateValueSetConceptMetadataValueResponse"></output>
</operation>
<operation name="DeleteValueSetConceptMetadataValue">
<input message="tns:DeleteValueSetConceptMetadataValue"></input>
<output message="tns:DeleteValueSetConceptMetadataValueResponse"></output>
</operation>
<operation name="MaintainValueSetConceptMetadataValue">
<input message="tns:MaintainValueSetConceptMetadataValue"></input>
<output message="tns:MaintainValueSetConceptMetadataValueResponse"></output>
</operation>
<operation name="UpdateConceptValueSetMembershipStatus">
<input message="tns:UpdateConceptValueSetMembershipStatus"></input>
<output message="tns:UpdateConceptValueSetMembershipStatusResponse"></output>
</operation>
<operation name="MaintainConceptValueSetMembership">
<input message="tns:MaintainConceptValueSetMembership"></input>
<output message="tns:MaintainConceptValueSetMembershipResponse"></output>
</operation>
<operation name="CreateValueSet">
<input message="tns:CreateValueSet"></input>
<output message="tns:CreateValueSetResponse"></output>
</operation>
<operation name="CreateConcept">
<input message="tns:CreateConcept"></input>
<output message="tns:CreateConceptResponse"></output>
</operation>
<operation name="CreateCodeSystem">
<input message="tns:CreateCodeSystem"></input>
<output message="tns:CreateCodeSystemResponse"></output>
</operation>
<operation name="MaintainValueSet">
<input message="tns:MaintainValueSet"></input>
<output message="tns:MaintainValueSetResponse"></output>
</operation>
<operation name="MaintainConcept">
<input message="tns:MaintainConcept"></input>
<output message="tns:MaintainConceptResponse"></output>
</operation>
<operation name="MaintainCodeSystemVersion">
<input message="tns:MaintainCodeSystemVersion"></input>
<output message="tns:MaintainCodeSystemVersionResponse"></output>
</operation>
<operation name="RemoveTerminologyOrConcept">
<input message="tns:RemoveTerminologyOrConcept"></input>
<output message="tns:RemoveTerminologyOrConceptResponse"></output>
</operation>
<operation name="UpdateValueSetStatus">
<input message="tns:UpdateValueSetStatus"></input>
<output message="tns:UpdateValueSetStatusResponse"></output>
</operation>
<operation name="UpdateConceptStatus">
<input message="tns:UpdateConceptStatus"></input>
<output message="tns:UpdateConceptStatusResponse"></output>
</operation>
<operation name="MaintainConceptAssociationType">
<input message="tns:MaintainConceptAssociationType"></input>
<output message="tns:MaintainConceptAssociationTypeResponse"></output>
</operation>
<operation name="RemoveValueSetContent">
<input message="tns:RemoveValueSetContent"></input>
<output message="tns:RemoveValueSetContentResponse"></output>
</operation>
<operation name="CreateConceptAssociationType">
<input message="tns:CreateConceptAssociationType"></input>
<output message="tns:CreateConceptAssociationTypeResponse"></output>
</operation>
<operation name="CreateValueSetContent">
<input message="tns:CreateValueSetContent"></input>
<output message="tns:CreateValueSetContentResponse"></output>
</operation>
<operation name="UpdateCodeSystemVersionStatus">
<input message="tns:UpdateCodeSystemVersionStatus"></input>
<output message="tns:UpdateCodeSystemVersionStatusResponse"></output>
</operation>
</portType>
<binding name="AuthoringPortBinding" type="tns:Authoring">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="MaintainCodeSystemConceptMetadataValue">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="CreateValueSetConceptMetadataValue">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="DeleteValueSetConceptMetadataValue">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="MaintainValueSetConceptMetadataValue">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="UpdateConceptValueSetMembershipStatus">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="MaintainConceptValueSetMembership">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="CreateValueSet">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="CreateConcept">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="CreateCodeSystem">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="MaintainValueSet">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="MaintainConcept">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="MaintainCodeSystemVersion">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="RemoveTerminologyOrConcept">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="UpdateValueSetStatus">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="UpdateConceptStatus">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="MaintainConceptAssociationType">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="RemoveValueSetContent">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="CreateConceptAssociationType">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="CreateValueSetContent">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="UpdateCodeSystemVersionStatus">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
</binding>
<service name="Authoring">
<port name="AuthoringPort" binding="tns:AuthoringPortBinding">
<soap:address location="http://localhost:8080/TermServer/Authoring"></soap:address>
</port>
</service>
</definitions>