src/TermBrowser/TermBrowser/src/main/webapp/WEB-INF/wsdl/localhost_8080/TermServer/Search.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.4-b01-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.4-b01-. --><definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://search.ws.terminologie.fhdo.de/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://search.ws.terminologie.fhdo.de/" name="Search">
<types>
<xsd:schema>
<xsd:import namespace="http://search.ws.terminologie.fhdo.de/" schemaLocation="http://localhost:8080/TermServer/Search?xsd=1"></xsd:import>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="de.fhdo.termserver.types" schemaLocation="http://localhost:8080/TermServer/Search?xsd=2"></xsd:import>
</xsd:schema>
</types>
<message name="ListGloballySearchedConcepts">
<part name="parameters" element="tns:ListGloballySearchedConcepts"></part>
</message>
<message name="ListGloballySearchedConceptsResponse">
<part name="parameters" element="tns:ListGloballySearchedConceptsResponse"></part>
</message>
<message name="ReturnConceptAssociationTypeDetails">
<part name="parameters" element="tns:ReturnConceptAssociationTypeDetails"></part>
</message>
<message name="ReturnConceptAssociationTypeDetailsResponse">
<part name="parameters" element="tns:ReturnConceptAssociationTypeDetailsResponse"></part>
</message>
<message name="ReturnValueSetDetails">
<part name="parameters" element="tns:ReturnValueSetDetails"></part>
</message>
<message name="ReturnValueSetDetailsResponse">
<part name="parameters" element="tns:ReturnValueSetDetailsResponse"></part>
</message>
<message name="ListCodeSystemsInTaxonomy">
<part name="parameters" element="tns:ListCodeSystemsInTaxonomy"></part>
</message>
<message name="ListCodeSystemsInTaxonomyResponse">
<part name="parameters" element="tns:ListCodeSystemsInTaxonomyResponse"></part>
</message>
<message name="ReturnConceptDetails">
<part name="parameters" element="tns:ReturnConceptDetails"></part>
</message>
<message name="ReturnConceptDetailsResponse">
<part name="parameters" element="tns:ReturnConceptDetailsResponse"></part>
</message>
<message name="ReturnValueSetConceptMetadata">
<part name="parameters" element="tns:ReturnValueSetConceptMetadata"></part>
</message>
<message name="ReturnValueSetConceptMetadataResponse">
<part name="parameters" element="tns:ReturnValueSetConceptMetadataResponse"></part>
</message>
<message name="ListCodeSystemConcepts">
<part name="parameters" element="tns:ListCodeSystemConcepts"></part>
</message>
<message name="ListCodeSystemConceptsResponse">
<part name="parameters" element="tns:ListCodeSystemConceptsResponse"></part>
</message>
<message name="ListValueSetContents">
<part name="parameters" element="tns:ListValueSetContents"></part>
</message>
<message name="ListValueSetContentsResponse">
<part name="parameters" element="tns:ListValueSetContentsResponse"></part>
</message>
<message name="ListConceptAssociationTypes">
<part name="parameters" element="tns:ListConceptAssociationTypes"></part>
</message>
<message name="ListConceptAssociationTypesResponse">
<part name="parameters" element="tns:ListConceptAssociationTypesResponse"></part>
</message>
<message name="ReturnCodeSystemDetails">
<part name="parameters" element="tns:ReturnCodeSystemDetails"></part>
</message>
<message name="ReturnCodeSystemDetailsResponse">
<part name="parameters" element="tns:ReturnCodeSystemDetailsResponse"></part>
</message>
<message name="ReturnConceptValueSetMembership">
<part name="parameters" element="tns:ReturnConceptValueSetMembership"></part>
</message>
<message name="ReturnConceptValueSetMembershipResponse">
<part name="parameters" element="tns:ReturnConceptValueSetMembershipResponse"></part>
</message>
<message name="GetTermserverVersion">
<part name="parameters" element="tns:GetTermserverVersion"></part>
</message>
<message name="GetTermserverVersionResponse">
<part name="parameters" element="tns:GetTermserverVersionResponse"></part>
</message>
<message name="ListMetadataParameter">
<part name="parameters" element="tns:ListMetadataParameter"></part>
</message>
<message name="ListMetadataParameterResponse">
<part name="parameters" element="tns:ListMetadataParameterResponse"></part>
</message>
<message name="ListCodeSystems">
<part name="parameters" element="tns:ListCodeSystems"></part>
</message>
<message name="ListCodeSystemsResponse">
<part name="parameters" element="tns:ListCodeSystemsResponse"></part>
</message>
<message name="ListValueSets">
<part name="parameters" element="tns:ListValueSets"></part>
</message>
<message name="ListValueSetsResponse">
<part name="parameters" element="tns:ListValueSetsResponse"></part>
</message>
<message name="ListDomainValues">
<part name="parameters" element="tns:ListDomainValues"></part>
</message>
<message name="ListDomainValuesResponse">
<part name="parameters" element="tns:ListDomainValuesResponse"></part>
</message>
<message name="ListDomains">
<part name="parameters" element="tns:ListDomains"></part>
</message>
<message name="ListDomainsResponse">
<part name="parameters" element="tns:ListDomainsResponse"></part>
</message>
<portType name="Search">
<operation name="ListGloballySearchedConcepts">
<input message="tns:ListGloballySearchedConcepts"></input>
<output message="tns:ListGloballySearchedConceptsResponse"></output>
</operation>
<operation name="ReturnConceptAssociationTypeDetails">
<input message="tns:ReturnConceptAssociationTypeDetails"></input>
<output message="tns:ReturnConceptAssociationTypeDetailsResponse"></output>
</operation>
<operation name="ReturnValueSetDetails">
<input message="tns:ReturnValueSetDetails"></input>
<output message="tns:ReturnValueSetDetailsResponse"></output>
</operation>
<operation name="ListCodeSystemsInTaxonomy">
<input message="tns:ListCodeSystemsInTaxonomy"></input>
<output message="tns:ListCodeSystemsInTaxonomyResponse"></output>
</operation>
<operation name="ReturnConceptDetails">
<input message="tns:ReturnConceptDetails"></input>
<output message="tns:ReturnConceptDetailsResponse"></output>
</operation>
<operation name="ReturnValueSetConceptMetadata">
<input message="tns:ReturnValueSetConceptMetadata"></input>
<output message="tns:ReturnValueSetConceptMetadataResponse"></output>
</operation>
<operation name="ListCodeSystemConcepts">
<input message="tns:ListCodeSystemConcepts"></input>
<output message="tns:ListCodeSystemConceptsResponse"></output>
</operation>
<operation name="ListValueSetContents">
<input message="tns:ListValueSetContents"></input>
<output message="tns:ListValueSetContentsResponse"></output>
</operation>
<operation name="ListConceptAssociationTypes">
<input message="tns:ListConceptAssociationTypes"></input>
<output message="tns:ListConceptAssociationTypesResponse"></output>
</operation>
<operation name="ReturnCodeSystemDetails">
<input message="tns:ReturnCodeSystemDetails"></input>
<output message="tns:ReturnCodeSystemDetailsResponse"></output>
</operation>
<operation name="ReturnConceptValueSetMembership">
<input message="tns:ReturnConceptValueSetMembership"></input>
<output message="tns:ReturnConceptValueSetMembershipResponse"></output>
</operation>
<operation name="GetTermserverVersion">
<input message="tns:GetTermserverVersion"></input>
<output message="tns:GetTermserverVersionResponse"></output>
</operation>
<operation name="ListMetadataParameter">
<input message="tns:ListMetadataParameter"></input>
<output message="tns:ListMetadataParameterResponse"></output>
</operation>
<operation name="ListCodeSystems">
<input message="tns:ListCodeSystems"></input>
<output message="tns:ListCodeSystemsResponse"></output>
</operation>
<operation name="ListValueSets">
<input message="tns:ListValueSets"></input>
<output message="tns:ListValueSetsResponse"></output>
</operation>
<operation name="ListDomainValues">
<input message="tns:ListDomainValues"></input>
<output message="tns:ListDomainValuesResponse"></output>
</operation>
<operation name="ListDomains">
<input message="tns:ListDomains"></input>
<output message="tns:ListDomainsResponse"></output>
</operation>
</portType>
<binding name="SearchPortBinding" type="tns:Search">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="ListGloballySearchedConcepts">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="ReturnConceptAssociationTypeDetails">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="ReturnValueSetDetails">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="ListCodeSystemsInTaxonomy">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="ReturnConceptDetails">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="ReturnValueSetConceptMetadata">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="ListCodeSystemConcepts">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="ListValueSetContents">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="ListConceptAssociationTypes">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="ReturnCodeSystemDetails">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="ReturnConceptValueSetMembership">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="GetTermserverVersion">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="ListMetadataParameter">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="ListCodeSystems">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="ListValueSets">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="ListDomainValues">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="ListDomains">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
</binding>
<service name="Search">
<port name="SearchPort" binding="tns:SearchPortBinding">
<soap:address location="http://localhost:8080/TermServer/Search"></soap:address>
</port>
</service>
</definitions>