src/TermBrowser/web/WEB-INF/wsdl/localhost_8080/TermServer/Authorization.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://authorization.ws.terminologie.fhdo.de/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://authorization.ws.terminologie.fhdo.de/" name="Authorization">
<types>
<xsd:schema>
<xsd:import namespace="http://authorization.ws.terminologie.fhdo.de/" schemaLocation="http://localhost:8080/TermServer/Authorization?xsd=1" />
</xsd:schema>
</types>
<message name="ChangePassword">
<part name="parameters" element="tns:ChangePassword" />
</message>
<message name="ChangePasswordResponse">
<part name="parameters" element="tns:ChangePasswordResponse" />
</message>
<message name="Authenticate">
<part name="parameters" element="tns:Authenticate" />
</message>
<message name="AuthenticateResponse">
<part name="parameters" element="tns:AuthenticateResponse" />
</message>
<message name="Login">
<part name="parameters" element="tns:Login" />
</message>
<message name="LoginResponse">
<part name="parameters" element="tns:LoginResponse" />
</message>
<message name="Logout">
<part name="parameters" element="tns:Logout" />
</message>
<message name="LogoutResponse">
<part name="parameters" element="tns:LogoutResponse" />
</message>
<portType name="Authorization">
<operation name="ChangePassword">
<input wsam:Action="http://authorization.ws.terminologie.fhdo.de/Authorization/ChangePasswordRequest" message="tns:ChangePassword" />
<output wsam:Action="http://authorization.ws.terminologie.fhdo.de/Authorization/ChangePasswordResponse" message="tns:ChangePasswordResponse" />
</operation>
<operation name="Authenticate">
<input wsam:Action="http://authorization.ws.terminologie.fhdo.de/Authorization/AuthenticateRequest" message="tns:Authenticate" />
<output wsam:Action="http://authorization.ws.terminologie.fhdo.de/Authorization/AuthenticateResponse" message="tns:AuthenticateResponse" />
</operation>
<operation name="Login">
<input wsam:Action="http://authorization.ws.terminologie.fhdo.de/Authorization/LoginRequest" message="tns:Login" />
<output wsam:Action="http://authorization.ws.terminologie.fhdo.de/Authorization/LoginResponse" message="tns:LoginResponse" />
</operation>
<operation name="Logout">
<input wsam:Action="http://authorization.ws.terminologie.fhdo.de/Authorization/LogoutRequest" message="tns:Logout" />
<output wsam:Action="http://authorization.ws.terminologie.fhdo.de/Authorization/LogoutResponse" message="tns:LogoutResponse" />
</operation>
</portType>
<binding name="AuthorizationPortBinding" type="tns:Authorization">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="ChangePassword">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="Authenticate">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="Login">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="Logout">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="Authorization">
<port name="AuthorizationPort" binding="tns:AuthorizationPortBinding">
<soap:address location="http://localhost:8080/TermServer/Authorization" />
</port>
</service>
</definitions>