src/TermBrowser/src/conf/xml-resources/web-service-references/ConceptAssociations/wsdl/localhost_8080/TermServer/ConceptAssociations.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://conceptAssociation.ws.terminologie.fhdo.de/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://conceptAssociation.ws.terminologie.fhdo.de/" name="ConceptAssociations">
<types>
<xsd:schema>
<xsd:import namespace="http://conceptAssociation.ws.terminologie.fhdo.de/" schemaLocation="http://localhost:8080/TermServer/ConceptAssociations?xsd=1" />
</xsd:schema>
<xsd:schema>
<xsd:import namespace="de.fhdo.termserver.types" schemaLocation="http://localhost:8080/TermServer/ConceptAssociations?xsd=2" />
</xsd:schema>
</types>
<message name="UpdateConceptAssociationStatus">
<part name="parameters" element="tns:UpdateConceptAssociationStatus" />
</message>
<message name="UpdateConceptAssociationStatusResponse">
<part name="parameters" element="tns:UpdateConceptAssociationStatusResponse" />
</message>
<message name="ReturnConceptAssociationDetails">
<part name="parameters" element="tns:ReturnConceptAssociationDetails" />
</message>
<message name="ReturnConceptAssociationDetailsResponse">
<part name="parameters" element="tns:ReturnConceptAssociationDetailsResponse" />
</message>
<message name="ListConceptAssociations">
<part name="parameters" element="tns:ListConceptAssociations" />
</message>
<message name="ListConceptAssociationsResponse">
<part name="parameters" element="tns:ListConceptAssociationsResponse" />
</message>
<message name="TraverseConceptToRoot">
<part name="parameters" element="tns:TraverseConceptToRoot" />
</message>
<message name="TraverseConceptToRootResponse">
<part name="parameters" element="tns:TraverseConceptToRootResponse" />
</message>
<message name="MaintainConceptAssociation">
<part name="parameters" element="tns:MaintainConceptAssociation" />
</message>
<message name="MaintainConceptAssociationResponse">
<part name="parameters" element="tns:MaintainConceptAssociationResponse" />
</message>
<message name="CreateConceptAssociation">
<part name="parameters" element="tns:CreateConceptAssociation" />
</message>
<message name="CreateConceptAssociationResponse">
<part name="parameters" element="tns:CreateConceptAssociationResponse" />
</message>
<portType name="ConceptAssociations">
<operation name="UpdateConceptAssociationStatus">
<input wsam:Action="http://conceptAssociation.ws.terminologie.fhdo.de/ConceptAssociations/UpdateConceptAssociationStatusRequest" message="tns:UpdateConceptAssociationStatus" />
<output wsam:Action="http://conceptAssociation.ws.terminologie.fhdo.de/ConceptAssociations/UpdateConceptAssociationStatusResponse" message="tns:UpdateConceptAssociationStatusResponse" />
</operation>
<operation name="ReturnConceptAssociationDetails">
<input wsam:Action="http://conceptAssociation.ws.terminologie.fhdo.de/ConceptAssociations/ReturnConceptAssociationDetailsRequest" message="tns:ReturnConceptAssociationDetails" />
<output wsam:Action="http://conceptAssociation.ws.terminologie.fhdo.de/ConceptAssociations/ReturnConceptAssociationDetailsResponse" message="tns:ReturnConceptAssociationDetailsResponse" />
</operation>
<operation name="ListConceptAssociations">
<input wsam:Action="http://conceptAssociation.ws.terminologie.fhdo.de/ConceptAssociations/ListConceptAssociationsRequest" message="tns:ListConceptAssociations" />
<output wsam:Action="http://conceptAssociation.ws.terminologie.fhdo.de/ConceptAssociations/ListConceptAssociationsResponse" message="tns:ListConceptAssociationsResponse" />
</operation>
<operation name="TraverseConceptToRoot">
<input wsam:Action="http://conceptAssociation.ws.terminologie.fhdo.de/ConceptAssociations/TraverseConceptToRootRequest" message="tns:TraverseConceptToRoot" />
<output wsam:Action="http://conceptAssociation.ws.terminologie.fhdo.de/ConceptAssociations/TraverseConceptToRootResponse" message="tns:TraverseConceptToRootResponse" />
</operation>
<operation name="MaintainConceptAssociation">
<input wsam:Action="http://conceptAssociation.ws.terminologie.fhdo.de/ConceptAssociations/MaintainConceptAssociationRequest" message="tns:MaintainConceptAssociation" />
<output wsam:Action="http://conceptAssociation.ws.terminologie.fhdo.de/ConceptAssociations/MaintainConceptAssociationResponse" message="tns:MaintainConceptAssociationResponse" />
</operation>
<operation name="CreateConceptAssociation">
<input wsam:Action="http://conceptAssociation.ws.terminologie.fhdo.de/ConceptAssociations/CreateConceptAssociationRequest" message="tns:CreateConceptAssociation" />
<output wsam:Action="http://conceptAssociation.ws.terminologie.fhdo.de/ConceptAssociations/CreateConceptAssociationResponse" message="tns:CreateConceptAssociationResponse" />
</operation>
</portType>
<binding name="ConceptAssociationsPortBinding" type="tns:ConceptAssociations">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="UpdateConceptAssociationStatus">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="ReturnConceptAssociationDetails">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="ListConceptAssociations">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="TraverseConceptToRoot">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="MaintainConceptAssociation">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="CreateConceptAssociation">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="ConceptAssociations">
<port name="ConceptAssociationsPort" binding="tns:ConceptAssociationsPortBinding">
<soap:address location="http://localhost:8080/TermServer/ConceptAssociations" />
</port>
</service>
</definitions>