src/TermBrowserWinApp/TerminologieBrowser/TerminologieBrowser/TerminologieBrowser.Windows/Service References/SearchClient/Search.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://search.ws.terminologie.fhdo.de/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="Search" targetNamespace="http://search.ws.terminologie.fhdo.de/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://193.25.22.69:8080/TermServer/Search?xsd=1" namespace="http://search.ws.terminologie.fhdo.de/" />
    </xsd:schema>
    <xsd:schema>
      <xsd:import schemaLocation="http://193.25.22.69:8080/TermServer/Search?xsd=2" namespace="de.fhdo.termserver.types" />
    </xsd:schema>
  </types>
  <message name="ReturnValueSetConceptMetadata">
    <part name="parameters" element="tns:ReturnValueSetConceptMetadata" />
  </message>
  <message name="ReturnValueSetConceptMetadataResponse">
    <part name="parameters" element="tns:ReturnValueSetConceptMetadataResponse" />
  </message>
  <message name="ListMetadataParameter">
    <part name="parameters" element="tns:ListMetadataParameter" />
  </message>
  <message name="ListMetadataParameterResponse">
    <part name="parameters" element="tns:ListMetadataParameterResponse" />
  </message>
  <message name="ReturnConceptValueSetMembership">
    <part name="parameters" element="tns:ReturnConceptValueSetMembership" />
  </message>
  <message name="ReturnConceptValueSetMembershipResponse">
    <part name="parameters" element="tns:ReturnConceptValueSetMembershipResponse" />
  </message>
  <message name="ListGloballySearchedConcepts">
    <part name="parameters" element="tns:ListGloballySearchedConcepts" />
  </message>
  <message name="ListGloballySearchedConceptsResponse">
    <part name="parameters" element="tns:ListGloballySearchedConceptsResponse" />
  </message>
  <message name="ListValueSets">
    <part name="parameters" element="tns:ListValueSets" />
  </message>
  <message name="ListValueSetsResponse">
    <part name="parameters" element="tns:ListValueSetsResponse" />
  </message>
  <message name="ReturnValueSetDetails">
    <part name="parameters" element="tns:ReturnValueSetDetails" />
  </message>
  <message name="ReturnValueSetDetailsResponse">
    <part name="parameters" element="tns:ReturnValueSetDetailsResponse" />
  </message>
  <message name="ReturnConceptDetails">
    <part name="parameters" element="tns:ReturnConceptDetails" />
  </message>
  <message name="ReturnConceptDetailsResponse">
    <part name="parameters" element="tns:ReturnConceptDetailsResponse" />
  </message>
  <message name="ReturnCodeSystemDetails">
    <part name="parameters" element="tns:ReturnCodeSystemDetails" />
  </message>
  <message name="ReturnCodeSystemDetailsResponse">
    <part name="parameters" element="tns:ReturnCodeSystemDetailsResponse" />
  </message>
  <message name="ListValueSetContents">
    <part name="parameters" element="tns:ListValueSetContents" />
  </message>
  <message name="ListValueSetContentsResponse">
    <part name="parameters" element="tns:ListValueSetContentsResponse" />
  </message>
  <message name="ListCodeSystemConcepts">
    <part name="parameters" element="tns:ListCodeSystemConcepts" />
  </message>
  <message name="ListCodeSystemConceptsResponse">
    <part name="parameters" element="tns:ListCodeSystemConceptsResponse" />
  </message>
  <message name="ListConceptAssociationTypes">
    <part name="parameters" element="tns:ListConceptAssociationTypes" />
  </message>
  <message name="ListConceptAssociationTypesResponse">
    <part name="parameters" element="tns:ListConceptAssociationTypesResponse" />
  </message>
  <message name="ListDomains">
    <part name="parameters" element="tns:ListDomains" />
  </message>
  <message name="ListDomainsResponse">
    <part name="parameters" element="tns:ListDomainsResponse" />
  </message>
  <message name="ReturnConceptAssociationTypeDetails">
    <part name="parameters" element="tns:ReturnConceptAssociationTypeDetails" />
  </message>
  <message name="ReturnConceptAssociationTypeDetailsResponse">
    <part name="parameters" element="tns:ReturnConceptAssociationTypeDetailsResponse" />
  </message>
  <message name="ListCodeSystemsInTaxonomy">
    <part name="parameters" element="tns:ListCodeSystemsInTaxonomy" />
  </message>
  <message name="ListCodeSystemsInTaxonomyResponse">
    <part name="parameters" element="tns:ListCodeSystemsInTaxonomyResponse" />
  </message>
  <message name="ListDomainValues">
    <part name="parameters" element="tns:ListDomainValues" />
  </message>
  <message name="ListDomainValuesResponse">
    <part name="parameters" element="tns:ListDomainValuesResponse" />
  </message>
  <message name="GetTermserverVersion">
    <part name="parameters" element="tns:GetTermserverVersion" />
  </message>
  <message name="GetTermserverVersionResponse">
    <part name="parameters" element="tns:GetTermserverVersionResponse" />
  </message>
  <message name="ListCodeSystems">
    <part name="parameters" element="tns:ListCodeSystems" />
  </message>
  <message name="ListCodeSystemsResponse">
    <part name="parameters" element="tns:ListCodeSystemsResponse" />
  </message>
  <portType name="Search">
    <operation name="ReturnValueSetConceptMetadata">
      <input wsam:Action="http://search.ws.terminologie.fhdo.de/Search/ReturnValueSetConceptMetadataRequest" message="tns:ReturnValueSetConceptMetadata" />
      <output wsam:Action="http://search.ws.terminologie.fhdo.de/Search/ReturnValueSetConceptMetadataResponse" message="tns:ReturnValueSetConceptMetadataResponse" />
    </operation>
    <operation name="ListMetadataParameter">
      <input wsam:Action="http://search.ws.terminologie.fhdo.de/Search/ListMetadataParameterRequest" message="tns:ListMetadataParameter" />
      <output wsam:Action="http://search.ws.terminologie.fhdo.de/Search/ListMetadataParameterResponse" message="tns:ListMetadataParameterResponse" />
    </operation>
    <operation name="ReturnConceptValueSetMembership">
      <input wsam:Action="http://search.ws.terminologie.fhdo.de/Search/ReturnConceptValueSetMembershipRequest" message="tns:ReturnConceptValueSetMembership" />
      <output wsam:Action="http://search.ws.terminologie.fhdo.de/Search/ReturnConceptValueSetMembershipResponse" message="tns:ReturnConceptValueSetMembershipResponse" />
    </operation>
    <operation name="ListGloballySearchedConcepts">
      <input wsam:Action="http://search.ws.terminologie.fhdo.de/Search/ListGloballySearchedConceptsRequest" message="tns:ListGloballySearchedConcepts" />
      <output wsam:Action="http://search.ws.terminologie.fhdo.de/Search/ListGloballySearchedConceptsResponse" message="tns:ListGloballySearchedConceptsResponse" />
    </operation>
    <operation name="ListValueSets">
      <input wsam:Action="http://search.ws.terminologie.fhdo.de/Search/ListValueSetsRequest" message="tns:ListValueSets" />
      <output wsam:Action="http://search.ws.terminologie.fhdo.de/Search/ListValueSetsResponse" message="tns:ListValueSetsResponse" />
    </operation>
    <operation name="ReturnValueSetDetails">
      <input wsam:Action="http://search.ws.terminologie.fhdo.de/Search/ReturnValueSetDetailsRequest" message="tns:ReturnValueSetDetails" />
      <output wsam:Action="http://search.ws.terminologie.fhdo.de/Search/ReturnValueSetDetailsResponse" message="tns:ReturnValueSetDetailsResponse" />
    </operation>
    <operation name="ReturnConceptDetails">
      <input wsam:Action="http://search.ws.terminologie.fhdo.de/Search/ReturnConceptDetailsRequest" message="tns:ReturnConceptDetails" />
      <output wsam:Action="http://search.ws.terminologie.fhdo.de/Search/ReturnConceptDetailsResponse" message="tns:ReturnConceptDetailsResponse" />
    </operation>
    <operation name="ReturnCodeSystemDetails">
      <input wsam:Action="http://search.ws.terminologie.fhdo.de/Search/ReturnCodeSystemDetailsRequest" message="tns:ReturnCodeSystemDetails" />
      <output wsam:Action="http://search.ws.terminologie.fhdo.de/Search/ReturnCodeSystemDetailsResponse" message="tns:ReturnCodeSystemDetailsResponse" />
    </operation>
    <operation name="ListValueSetContents">
      <input wsam:Action="http://search.ws.terminologie.fhdo.de/Search/ListValueSetContentsRequest" message="tns:ListValueSetContents" />
      <output wsam:Action="http://search.ws.terminologie.fhdo.de/Search/ListValueSetContentsResponse" message="tns:ListValueSetContentsResponse" />
    </operation>
    <operation name="ListCodeSystemConcepts">
      <input wsam:Action="http://search.ws.terminologie.fhdo.de/Search/ListCodeSystemConceptsRequest" message="tns:ListCodeSystemConcepts" />
      <output wsam:Action="http://search.ws.terminologie.fhdo.de/Search/ListCodeSystemConceptsResponse" message="tns:ListCodeSystemConceptsResponse" />
    </operation>
    <operation name="ListConceptAssociationTypes">
      <input wsam:Action="http://search.ws.terminologie.fhdo.de/Search/ListConceptAssociationTypesRequest" message="tns:ListConceptAssociationTypes" />
      <output wsam:Action="http://search.ws.terminologie.fhdo.de/Search/ListConceptAssociationTypesResponse" message="tns:ListConceptAssociationTypesResponse" />
    </operation>
    <operation name="ListDomains">
      <input wsam:Action="http://search.ws.terminologie.fhdo.de/Search/ListDomainsRequest" message="tns:ListDomains" />
      <output wsam:Action="http://search.ws.terminologie.fhdo.de/Search/ListDomainsResponse" message="tns:ListDomainsResponse" />
    </operation>
    <operation name="ReturnConceptAssociationTypeDetails">
      <input wsam:Action="http://search.ws.terminologie.fhdo.de/Search/ReturnConceptAssociationTypeDetailsRequest" message="tns:ReturnConceptAssociationTypeDetails" />
      <output wsam:Action="http://search.ws.terminologie.fhdo.de/Search/ReturnConceptAssociationTypeDetailsResponse" message="tns:ReturnConceptAssociationTypeDetailsResponse" />
    </operation>
    <operation name="ListCodeSystemsInTaxonomy">
      <input wsam:Action="http://search.ws.terminologie.fhdo.de/Search/ListCodeSystemsInTaxonomyRequest" message="tns:ListCodeSystemsInTaxonomy" />
      <output wsam:Action="http://search.ws.terminologie.fhdo.de/Search/ListCodeSystemsInTaxonomyResponse" message="tns:ListCodeSystemsInTaxonomyResponse" />
    </operation>
    <operation name="ListDomainValues">
      <input wsam:Action="http://search.ws.terminologie.fhdo.de/Search/ListDomainValuesRequest" message="tns:ListDomainValues" />
      <output wsam:Action="http://search.ws.terminologie.fhdo.de/Search/ListDomainValuesResponse" message="tns:ListDomainValuesResponse" />
    </operation>
    <operation name="GetTermserverVersion">
      <input wsam:Action="http://search.ws.terminologie.fhdo.de/Search/GetTermserverVersionRequest" message="tns:GetTermserverVersion" />
      <output wsam:Action="http://search.ws.terminologie.fhdo.de/Search/GetTermserverVersionResponse" message="tns:GetTermserverVersionResponse" />
    </operation>
    <operation name="ListCodeSystems">
      <input wsam:Action="http://search.ws.terminologie.fhdo.de/Search/ListCodeSystemsRequest" message="tns:ListCodeSystems" />
      <output wsam:Action="http://search.ws.terminologie.fhdo.de/Search/ListCodeSystemsResponse" message="tns:ListCodeSystemsResponse" />
    </operation>
  </portType>
  <binding name="SearchPortBinding" type="tns:Search">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="ReturnValueSetConceptMetadata">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="ListMetadataParameter">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="ReturnConceptValueSetMembership">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="ListGloballySearchedConcepts">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="ListValueSets">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="ReturnValueSetDetails">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="ReturnConceptDetails">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="ReturnCodeSystemDetails">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="ListValueSetContents">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="ListCodeSystemConcepts">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="ListConceptAssociationTypes">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="ListDomains">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="ReturnConceptAssociationTypeDetails">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="ListCodeSystemsInTaxonomy">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="ListDomainValues">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetTermserverVersion">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="ListCodeSystems">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="Search">
    <port name="SearchPort" binding="tns:SearchPortBinding">
      <soap:address location="http://193.25.22.69:8080/TermServer/Search" />
    </port>
  </service>
</definitions>