src/TermBrowser/TermBrowser/src/main/webapp/WEB-INF/wsdl/127.0.0.1_8080/TermServer/Authorization.xsd_2.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><xs:schema xmlns:tns="de.fhdo.termserver.types" xmlns:ns1="http://authorization.ws.terminologie.fhdo.de/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="de.fhdo.termserver.types">

<xs:import namespace="http://authorization.ws.terminologie.fhdo.de/" schemaLocation="http://127.0.0.1:8080/TermServer/Authorization?xsd=1" />

<xs:complexType name="termUser">
<xs:sequence>
<xs:element name="id" type="xs:long" minOccurs="0" />
<xs:element name="isAdmin" type="xs:boolean" />
<xs:element name="licencedUsers" type="tns:licencedUser" nillable="true" minOccurs="0" maxOccurs="unbounded" />
<xs:element name="name" type="xs:string" minOccurs="0" />
<xs:element name="passw" type="xs:string" minOccurs="0" />
<xs:element name="sessions" type="tns:session" nillable="true" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="licencedUser">
<xs:sequence>
<xs:element name="codeSystemVersion" type="tns:codeSystemVersion" minOccurs="0" />
<xs:element name="id" type="tns:licencedUserId" minOccurs="0" />
<xs:element name="licenceType" type="tns:licenceType" minOccurs="0" />
<xs:element name="termUser" type="tns:termUser" minOccurs="0" />
<xs:element name="validFrom" type="xs:dateTime" minOccurs="0" />
<xs:element name="validTo" type="xs:dateTime" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="codeSystemVersion">
<xs:sequence>
<xs:element name="codeSystem" type="tns:codeSystem" minOccurs="0" />
<xs:element name="codeSystemVersionEntityMemberships" type="tns:codeSystemVersionEntityMembership" nillable="true" minOccurs="0" maxOccurs="unbounded" />
<xs:element name="description" type="xs:string" minOccurs="0" />
<xs:element name="expirationDate" type="xs:dateTime" minOccurs="0" />
<xs:element name="insertTimestamp" type="xs:dateTime" minOccurs="0" />
<xs:element name="licenceHolder" type="xs:string" minOccurs="0" />
<xs:element name="licenceTypes" type="tns:licenceType" nillable="true" minOccurs="0" maxOccurs="unbounded" />
<xs:element name="licencedUsers" type="tns:licencedUser" nillable="true" minOccurs="0" maxOccurs="unbounded" />
<xs:element name="name" type="xs:string" minOccurs="0" />
<xs:element name="oid" type="xs:string" minOccurs="0" />
<xs:element name="preferredLanguageId" type="xs:long" minOccurs="0" />
<xs:element name="previousVersionId" type="xs:long" minOccurs="0" />
<xs:element name="releaseDate" type="xs:dateTime" minOccurs="0" />
<xs:element name="source" type="xs:string" minOccurs="0" />
<xs:element name="status" type="xs:int" minOccurs="0" />
<xs:element name="statusDate" type="xs:dateTime" minOccurs="0" />
<xs:element name="underLicence" type="xs:boolean" minOccurs="0" />
<xs:element name="versionId" type="xs:long" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="codeSystem">
<xs:sequence>
<xs:element name="codeSystemType" type="xs:string" minOccurs="0" />
<xs:element name="codeSystemVersions" type="tns:codeSystemVersion" nillable="true" minOccurs="0" maxOccurs="unbounded" />
<xs:element name="currentVersionId" type="xs:long" minOccurs="0" />
<xs:element name="description" type="xs:string" minOccurs="0" />
<xs:element name="domainValues" type="tns:domainValue" nillable="true" minOccurs="0" maxOccurs="unbounded" />
<xs:element name="id" type="xs:long" minOccurs="0" />
<xs:element name="insertTimestamp" type="xs:dateTime" minOccurs="0" />
<xs:element name="metadataParameters" type="tns:metadataParameter" nillable="true" minOccurs="0" maxOccurs="unbounded" />
<xs:element name="name" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="domainValue">
<xs:sequence>
<xs:element name="attribut1classname" type="xs:string" minOccurs="0" />
<xs:element name="attribut1value" type="xs:string" minOccurs="0" />
<xs:element name="codeSystems" type="tns:codeSystem" nillable="true" minOccurs="0" maxOccurs="unbounded" />
<xs:element name="domain" type="tns:domain" minOccurs="0" />
<xs:element name="domainCode" type="xs:string" minOccurs="0" />
<xs:element name="domainDisplay" type="xs:string" minOccurs="0" />
<xs:element name="domainValueId" type="xs:long" minOccurs="0" />
<xs:element name="domainValuesForDomainValueId1" type="tns:domainValue" nillable="true" minOccurs="0" maxOccurs="unbounded" />
<xs:element name="domainValuesForDomainValueId2" type="tns:domainValue" nillable="true" minOccurs="0" maxOccurs="unbounded" />
<xs:element name="imageFile" type="xs:string" minOccurs="0" />
<xs:element name="orderNo" type="xs:int" minOccurs="0" />
<xs:element name="sysParamsForModifyLevel" type="tns:sysParam" nillable="true" minOccurs="0" maxOccurs="unbounded" />
<xs:element name="sysParamsForValidityDomain" type="tns:sysParam" nillable="true" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="domain">
<xs:sequence>
<xs:element name="defaultValue" type="xs:string" minOccurs="0" />
<xs:element name="description" type="xs:string" minOccurs="0" />
<xs:element name="displayOrder" type="xs:long" minOccurs="0" />
<xs:element name="displayText" type="xs:string" minOccurs="0" />
<xs:element name="domainId" type="xs:long" minOccurs="0" />
<xs:element name="domainName" type="xs:string" minOccurs="0" />
<xs:element name="domainOid" type="xs:string" minOccurs="0" />
<xs:element name="domainType" type="xs:string" minOccurs="0" />
<xs:element name="domainValues" type="tns:domainValue" nillable="true" minOccurs="0" maxOccurs="unbounded" />
<xs:element name="isOptional" type="xs:boolean" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="sysParam">
<xs:sequence>
<xs:element name="description" type="xs:string" minOccurs="0" />
<xs:element name="domainValueByModifyLevel" type="tns:domainValue" minOccurs="0" />
<xs:element name="domainValueByValidityDomain" type="tns:domainValue" minOccurs="0" />
<xs:element name="id" type="xs:long" minOccurs="0" />
<xs:element name="javaDatatype" type="xs:string" minOccurs="0" />
<xs:element name="name" type="xs:string" minOccurs="0" />
<xs:element name="objectId" type="xs:long" minOccurs="0" />
<xs:element name="value" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="metadataParameter">
<xs:sequence>
<xs:element name="codeSystem" type="tns:codeSystem" minOccurs="0" />
<xs:element name="codeSystemMetadataValues" type="tns:codeSystemMetadataValue" nillable="true" minOccurs="0" maxOccurs="unbounded" />
<xs:element name="id" type="xs:long" minOccurs="0" />
<xs:element name="metadataParameterType" type="xs:string" minOccurs="0" />
<xs:element name="paramDatatype" type="xs:string" minOccurs="0" />
<xs:element name="paramName" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="codeSystemMetadataValue">
<xs:sequence>
<xs:element name="codeSystemEntityVersion" type="tns:codeSystemEntityVersion" minOccurs="0" />
<xs:element name="id" type="xs:long" minOccurs="0" />
<xs:element name="metadataParameter" type="tns:metadataParameter" minOccurs="0" />
<xs:element name="parameterValue" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="codeSystemEntityVersion">
<xs:sequence>
<xs:element name="associationTypes" type="tns:associationType" nillable="true" minOccurs="0" maxOccurs="unbounded" />
<xs:element name="codeSystemConcepts" type="tns:codeSystemConcept" nillable="true" minOccurs="0" maxOccurs="unbounded" />
<xs:element name="codeSystemEntity" type="tns:codeSystemEntity" minOccurs="0" />
<xs:element name="codeSystemEntityVersionAssociationsForCodeSystemEntityVersionId1" type="tns:codeSystemEntityVersionAssociation" nillable="true" minOccurs="0" maxOccurs="unbounded" />
<xs:element name="codeSystemEntityVersionAssociationsForCodeSystemEntityVersionId2" type="tns:codeSystemEntityVersionAssociation" nillable="true" minOccurs="0" maxOccurs="unbounded" />
<xs:element name="codeSystemMetadataValues" type="tns:codeSystemMetadataValue" nillable="true" minOccurs="0" maxOccurs="unbounded" />
<xs:element name="conceptValueSetMemberships" type="tns:conceptValueSetMembership" nillable="true" minOccurs="0" maxOccurs="unbounded" />
<xs:element name="effectiveDate" type="xs:dateTime" minOccurs="0" />
<xs:element name="insertTimestamp" type="xs:dateTime" minOccurs="0" />
<xs:element name="isLeaf" type="xs:boolean" minOccurs="0" />
<xs:element name="majorRevision" type="xs:int" minOccurs="0" />
<xs:element name="minorRevision" type="xs:int" minOccurs="0" />
<xs:element name="previousVersionId" type="xs:long" minOccurs="0" />
<xs:element name="propertyVersions" type="tns:propertyVersion" nillable="true" minOccurs="0" maxOccurs="unbounded" />
<xs:element name="status" type="xs:int" />
<xs:element name="statusDate" type="xs:dateTime" minOccurs="0" />
<xs:element name="versionId" type="xs:long" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="associationType">
<xs:sequence>
<xs:element name="codeSystemEntityVersion" type="tns:codeSystemEntityVersion" minOccurs="0" />
<xs:element name="codeSystemEntityVersionAssociations" type="tns:codeSystemEntityVersionAssociation" nillable="true" minOccurs="0" maxOccurs="unbounded" />
<xs:element name="codeSystemEntityVersionId" type="xs:long" />
<xs:element name="forwardName" type="xs:string" minOccurs="0" />
<xs:element name="reverseName" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="codeSystemEntityVersionAssociation">
<xs:sequence>
<xs:element name="associationKind" type="xs:int" minOccurs="0" />
<xs:element name="associationType" type="tns:associationType" minOccurs="0" />
<xs:element name="codeSystemEntityVersionByCodeSystemEntityVersionId1" type="tns:codeSystemEntityVersion" minOccurs="0" />
<xs:element name="codeSystemEntityVersionByCodeSystemEntityVersionId2" type="tns:codeSystemEntityVersion" minOccurs="0" />
<xs:element name="id" type="xs:long" minOccurs="0" />
<xs:element name="insertTimestamp" type="xs:dateTime" minOccurs="0" />
<xs:element name="leftId" type="xs:long" minOccurs="0" />
<xs:element name="status" type="xs:int" minOccurs="0" />
<xs:element name="statusDate" type="xs:dateTime" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="codeSystemConcept">
<xs:sequence>
<xs:element name="code" type="xs:string" minOccurs="0" />
<xs:element name="codeSystemConceptTranslations" type="tns:codeSystemConceptTranslation" nillable="true" minOccurs="0" maxOccurs="unbounded" />
<xs:element name="codeSystemEntityVersion" type="tns:codeSystemEntityVersion" minOccurs="0" />
<xs:element name="codeSystemEntityVersionId" type="xs:long" />
<xs:element name="description" type="xs:string" minOccurs="0" />
<xs:element name="isPreferred" type="xs:boolean" minOccurs="0" />
<xs:element name="term" type="xs:string" minOccurs="0" />
<xs:element name="termAbbrevation" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="codeSystemConceptTranslation">
<xs:sequence>
<xs:element name="codeSystemConcept" type="tns:codeSystemConcept" minOccurs="0" />
<xs:element name="description" type="xs:string" minOccurs="0" />
<xs:element name="id" type="xs:long" minOccurs="0" />
<xs:element name="languageId" type="xs:long" />
<xs:element name="term" type="xs:string" minOccurs="0" />
<xs:element name="termAbbrevation" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="codeSystemEntity">
<xs:sequence>
<xs:element name="codeSystemEntityVersions" type="tns:codeSystemEntityVersion" nillable="true" minOccurs="0" maxOccurs="unbounded" />
<xs:element name="codeSystemVersionEntityMemberships" type="tns:codeSystemVersionEntityMembership" nillable="true" minOccurs="0" maxOccurs="unbounded" />
<xs:element name="currentVersionId" type="xs:long" minOccurs="0" />
<xs:element name="id" type="xs:long" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="codeSystemVersionEntityMembership">
<xs:sequence>
<xs:element name="codeSystemEntity" type="tns:codeSystemEntity" minOccurs="0" />
<xs:element name="codeSystemVersion" type="tns:codeSystemVersion" minOccurs="0" />
<xs:element name="id" type="tns:codeSystemVersionEntityMembershipId" minOccurs="0" />
<xs:element name="isAxis" type="xs:boolean" minOccurs="0" />
<xs:element name="isMainClass" type="xs:boolean" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="codeSystemVersionEntityMembershipId">
<xs:sequence>
<xs:element name="codeSystemEntityId" type="xs:long" />
<xs:element name="codeSystemVersionId" type="xs:long" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="conceptValueSetMembership">
<xs:sequence>
<xs:element name="codeSystemEntityVersion" type="tns:codeSystemEntityVersion" minOccurs="0" />
<xs:element name="id" type="tns:conceptValueSetMembershipId" minOccurs="0" />
<xs:element name="valueOverride" type="xs:string" minOccurs="0" />
<xs:element name="valueSetVersion" type="tns:valueSetVersion" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="conceptValueSetMembershipId">
<xs:sequence>
<xs:element name="codeSystemEntityVersionId" type="xs:long" />
<xs:element name="valuesetVersionId" type="xs:long" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="valueSetVersion">
<xs:sequence>
<xs:element name="conceptValueSetMemberships" type="tns:conceptValueSetMembership" nillable="true" minOccurs="0" maxOccurs="unbounded" />
<xs:element name="insertTimestamp" type="xs:dateTime" minOccurs="0" />
<xs:element name="preferredLanguageId" type="xs:long" minOccurs="0" />
<xs:element name="previousVersionId" type="xs:long" minOccurs="0" />
<xs:element name="releaseDate" type="xs:dateTime" minOccurs="0" />
<xs:element name="status" type="xs:int" minOccurs="0" />
<xs:element name="statusDate" type="xs:dateTime" minOccurs="0" />
<xs:element name="valueSet" type="tns:valueSet" minOccurs="0" />
<xs:element name="versionId" type="xs:long" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="valueSet">
<xs:sequence>
<xs:element name="currentVersionId" type="xs:long" minOccurs="0" />
<xs:element name="description" type="xs:string" minOccurs="0" />
<xs:element name="id" type="xs:long" minOccurs="0" />
<xs:element name="name" type="xs:string" minOccurs="0" />
<xs:element name="status" type="xs:int" minOccurs="0" />
<xs:element name="statusDate" type="xs:dateTime" minOccurs="0" />
<xs:element name="valueSetVersions" type="tns:valueSetVersion" nillable="true" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="propertyVersion">
<xs:sequence>
<xs:element name="codeSystemEntityVersion" type="tns:codeSystemEntityVersion" minOccurs="0" />
<xs:element name="content" type="xs:base64Binary" minOccurs="0" />
<xs:element name="contentMimetype" type="xs:string" minOccurs="0" />
<xs:element name="contentName" type="xs:string" minOccurs="0" />
<xs:element name="contentSize" type="xs:int" minOccurs="0" />
<xs:element name="description" type="xs:string" minOccurs="0" />
<xs:element name="insertTimestamp" type="xs:dateTime" minOccurs="0" />
<xs:element name="languageId" type="xs:long" minOccurs="0" />
<xs:element name="name" type="xs:string" minOccurs="0" />
<xs:element name="previousVersionId" type="xs:long" minOccurs="0" />
<xs:element name="property" type="tns:property" minOccurs="0" />
<xs:element name="propertyKindId" type="xs:long" minOccurs="0" />
<xs:element name="status" type="xs:int" minOccurs="0" />
<xs:element name="statusDate" type="xs:dateTime" minOccurs="0" />
<xs:element name="versionId" type="xs:long" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="property">
<xs:sequence>
<xs:element name="currentVersionId" type="xs:long" minOccurs="0" />
<xs:element name="id" type="xs:long" minOccurs="0" />
<xs:element name="name" type="xs:string" minOccurs="0" />
<xs:element name="propertyVersions" type="tns:propertyVersion" nillable="true" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="licenceType">
<xs:sequence>
<xs:element name="codeSystemVersion" type="tns:codeSystemVersion" minOccurs="0" />
<xs:element name="id" type="xs:long" minOccurs="0" />
<xs:element name="licencedUsers" type="tns:licencedUser" nillable="true" minOccurs="0" maxOccurs="unbounded" />
<xs:element name="typeTxt" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="licencedUserId">
<xs:sequence>
<xs:element name="codeSystemVersionId" type="xs:long" />
<xs:element name="userId" type="xs:long" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="session">
<xs:sequence>
<xs:element name="id" type="xs:long" minOccurs="0" />
<xs:element name="ipAddress" type="xs:string" minOccurs="0" />
<xs:element name="lastTimestamp" type="xs:dateTime" minOccurs="0" />
<xs:element name="sessionId" type="xs:string" minOccurs="0" />
<xs:element name="termUser" type="tns:termUser" minOccurs="0" />
</xs:sequence>
</xs:complexType>
</xs:schema>