src/TermBrowser/src/conf/xml-resources/web-service-references/Authoring/wsdl/localhost_8080/TermServer/Authoring.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><xs:schema xmlns:tns="http://authoring.ws.terminologie.fhdo.de/" xmlns:ns1="de.fhdo.termserver.types" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://authoring.ws.terminologie.fhdo.de/">

<xs:import namespace="de.fhdo.termserver.types" schemaLocation="http://localhost:8080/TermServer/Authoring?xsd=2" />

<xs:element name="CreateCodeSystem" type="tns:CreateCodeSystem" />

<xs:element name="CreateCodeSystemResponse" type="tns:CreateCodeSystemResponse" />

<xs:element name="CreateConcept" type="tns:CreateConcept" />

<xs:element name="CreateConceptAssociationType" type="tns:CreateConceptAssociationType" />

<xs:element name="CreateConceptAssociationTypeResponse" type="tns:CreateConceptAssociationTypeResponse" />

<xs:element name="CreateConceptResponse" type="tns:CreateConceptResponse" />

<xs:element name="CreateValueSet" type="tns:CreateValueSet" />

<xs:element name="CreateValueSetConceptMetadataValue" type="tns:CreateValueSetConceptMetadataValue" />

<xs:element name="CreateValueSetConceptMetadataValueResponse" type="tns:CreateValueSetConceptMetadataValueResponse" />

<xs:element name="CreateValueSetContent" type="tns:CreateValueSetContent" />

<xs:element name="CreateValueSetContentResponse" type="tns:CreateValueSetContentResponse" />

<xs:element name="CreateValueSetResponse" type="tns:CreateValueSetResponse" />

<xs:element name="DeleteValueSetConceptMetadataValue" type="tns:DeleteValueSetConceptMetadataValue" />

<xs:element name="DeleteValueSetConceptMetadataValueResponse" type="tns:DeleteValueSetConceptMetadataValueResponse" />

<xs:element name="MaintainCodeSystemConceptMetadataValue" type="tns:MaintainCodeSystemConceptMetadataValue" />

<xs:element name="MaintainCodeSystemConceptMetadataValueResponse" type="tns:MaintainCodeSystemConceptMetadataValueResponse" />

<xs:element name="MaintainCodeSystemVersion" type="tns:MaintainCodeSystemVersion" />

<xs:element name="MaintainCodeSystemVersionResponse" type="tns:MaintainCodeSystemVersionResponse" />

<xs:element name="MaintainConcept" type="tns:MaintainConcept" />

<xs:element name="MaintainConceptAssociationType" type="tns:MaintainConceptAssociationType" />

<xs:element name="MaintainConceptAssociationTypeResponse" type="tns:MaintainConceptAssociationTypeResponse" />

<xs:element name="MaintainConceptResponse" type="tns:MaintainConceptResponse" />

<xs:element name="MaintainConceptValueSetMembership" type="tns:MaintainConceptValueSetMembership" />

<xs:element name="MaintainConceptValueSetMembershipResponse" type="tns:MaintainConceptValueSetMembershipResponse" />

<xs:element name="MaintainValueSet" type="tns:MaintainValueSet" />

<xs:element name="MaintainValueSetConceptMetadataValue" type="tns:MaintainValueSetConceptMetadataValue" />

<xs:element name="MaintainValueSetConceptMetadataValueResponse" type="tns:MaintainValueSetConceptMetadataValueResponse" />

<xs:element name="MaintainValueSetResponse" type="tns:MaintainValueSetResponse" />

<xs:element name="RemoveTerminologyOrConcept" type="tns:RemoveTerminologyOrConcept" />

<xs:element name="RemoveTerminologyOrConceptResponse" type="tns:RemoveTerminologyOrConceptResponse" />

<xs:element name="RemoveValueSetContent" type="tns:RemoveValueSetContent" />

<xs:element name="RemoveValueSetContentResponse" type="tns:RemoveValueSetContentResponse" />

<xs:element name="UpdateCodeSystemVersionStatus" type="tns:UpdateCodeSystemVersionStatus" />

<xs:element name="UpdateCodeSystemVersionStatusResponse" type="tns:UpdateCodeSystemVersionStatusResponse" />

<xs:element name="UpdateConceptStatus" type="tns:UpdateConceptStatus" />

<xs:element name="UpdateConceptStatusResponse" type="tns:UpdateConceptStatusResponse" />

<xs:element name="UpdateConceptValueSetMembershipStatus" type="tns:UpdateConceptValueSetMembershipStatus" />

<xs:element name="UpdateConceptValueSetMembershipStatusResponse" type="tns:UpdateConceptValueSetMembershipStatusResponse" />

<xs:element name="UpdateValueSetStatus" type="tns:UpdateValueSetStatus" />

<xs:element name="UpdateValueSetStatusResponse" type="tns:UpdateValueSetStatusResponse" />

<xs:element name="associationType" type="ns1:associationType" />

<xs:element name="codeSystem" type="ns1:codeSystem" />

<xs:element name="codeSystemConcept" type="ns1:codeSystemConcept" />

<xs:element name="codeSystemConceptTranslation" type="ns1:codeSystemConceptTranslation" />

<xs:element name="codeSystemEntity" type="ns1:codeSystemEntity" />

<xs:element name="codeSystemEntityVersion" type="ns1:codeSystemEntityVersion" />

<xs:element name="codeSystemEntityVersionAssociation" type="ns1:codeSystemEntityVersionAssociation" />

<xs:element name="codeSystemMetadataValue" type="ns1:codeSystemMetadataValue" />

<xs:element name="codeSystemVersion" type="ns1:codeSystemVersion" />

<xs:element name="codeSystemVersionEntityMembership" type="ns1:codeSystemVersionEntityMembership" />

<xs:element name="codeSystemVersionEntityMembershipId" type="ns1:codeSystemVersionEntityMembershipId" />

<xs:element name="conceptValueSetMembership" type="ns1:conceptValueSetMembership" />

<xs:element name="conceptValueSetMembershipId" type="ns1:conceptValueSetMembershipId" />

<xs:element name="createCodeSystemResponseType">
<xs:complexType>
<xs:sequence>
<xs:element name="returnInfos" type="tns:returnType" minOccurs="0" />
<xs:element name="codeSystem" type="ns1:codeSystem" minOccurs="0" />
</xs:sequence>
</xs:complexType>
</xs:element>

<xs:element name="createConceptAssociationTypeResponseType">
<xs:complexType>
<xs:sequence>
<xs:element name="returnInfos" type="tns:returnType" minOccurs="0" />
<xs:element name="codeSystemEntity" type="ns1:codeSystemEntity" minOccurs="0" />
</xs:sequence>
</xs:complexType>
</xs:element>

<xs:element name="createConceptResponseType">
<xs:complexType>
<xs:sequence>
<xs:element name="returnInfos" type="tns:returnType" minOccurs="0" />
<xs:element name="codeSystemEntity" type="ns1:codeSystemEntity" minOccurs="0" />
</xs:sequence>
</xs:complexType>
</xs:element>

<xs:element name="createValueSetConceptMetadataValueResponseType">
<xs:complexType>
<xs:sequence>
<xs:element name="returnInfos" type="tns:returnType" minOccurs="0" />
<xs:element name="valueSetMetadataValue" type="ns1:valueSetMetadataValue" nillable="true" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>
</xs:element>

<xs:element name="createValueSetContentResponseType">
<xs:complexType>
<xs:sequence>
<xs:element name="returnInfos" type="tns:returnType" minOccurs="0" />
</xs:sequence>
</xs:complexType>
</xs:element>

<xs:element name="createValueSetResponseType">
<xs:complexType>
<xs:sequence>
<xs:element name="returnInfos" type="tns:returnType" minOccurs="0" />
<xs:element name="valueSet" type="ns1:valueSet" minOccurs="0" />
</xs:sequence>
</xs:complexType>
</xs:element>

<xs:element name="deleteValueSetConceptMetadataValueResponseType">
<xs:complexType>
<xs:sequence>
<xs:element name="returnInfos" type="tns:returnType" minOccurs="0" />
<xs:element name="valueSetMetadataValue" type="ns1:valueSetMetadataValue" nillable="true" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>
</xs:element>

<xs:element name="domain" type="ns1:domain" />

<xs:element name="domainValue" type="ns1:domainValue" />

<xs:element name="licenceType" type="ns1:licenceType" />

<xs:element name="licencedUser" type="ns1:licencedUser" />

<xs:element name="licencedUserId" type="ns1:licencedUserId" />

<xs:element name="maintainCodeSystemConceptMetadataValueResponseType">
<xs:complexType>
<xs:sequence>
<xs:element name="returnInfos" type="tns:returnType" minOccurs="0" />
<xs:element name="codeSystemMetadataValues" type="ns1:codeSystemMetadataValue" nillable="true" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>
</xs:element>

<xs:element name="maintainCodeSystemVersionResponseType">
<xs:complexType>
<xs:sequence>
<xs:element name="returnInfos" type="tns:returnType" minOccurs="0" />
</xs:sequence>
</xs:complexType>
</xs:element>

<xs:element name="maintainConceptAssociationTypeResponseType">
<xs:complexType>
<xs:sequence>
<xs:element name="returnInfos" type="tns:returnType" minOccurs="0" />
</xs:sequence>
</xs:complexType>
</xs:element>

<xs:element name="maintainConceptResponseType" type="tns:maintainConceptResponseType" />

<xs:element name="maintainConceptValueSetMembershipResponseType">
<xs:complexType>
<xs:sequence>
<xs:element name="returnInfos" type="tns:returnType" minOccurs="0" />
</xs:sequence>
</xs:complexType>
</xs:element>

<xs:element name="maintainValueSetConceptMetadataValueResponseType">
<xs:complexType>
<xs:sequence>
<xs:element name="returnInfos" type="tns:returnType" minOccurs="0" />
<xs:element name="valueSetMetadataValues" type="ns1:valueSetMetadataValue" nillable="true" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>
</xs:element>

<xs:element name="maintainValueSetResponseType">
<xs:complexType>
<xs:sequence>
<xs:element name="returnInfos" type="tns:returnType" minOccurs="0" />
</xs:sequence>
</xs:complexType>
</xs:element>

<xs:element name="metadataParameter" type="ns1:metadataParameter" />

<xs:element name="session" type="ns1:session" />

<xs:element name="sysParam" type="ns1:sysParam" />

<xs:element name="termUser" type="ns1:termUser" />

<xs:element name="updateCodeSystemVersionStatusResponseType">
<xs:complexType>
<xs:sequence>
<xs:element name="returnInfos" type="tns:returnType" minOccurs="0" />
</xs:sequence>
</xs:complexType>
</xs:element>

<xs:element name="updateConceptStatusResponseType">
<xs:complexType>
<xs:sequence>
<xs:element name="returnInfos" type="tns:returnType" minOccurs="0" />
</xs:sequence>
</xs:complexType>
</xs:element>

<xs:element name="updateConceptValueSetMembershipStatusResponseType">
<xs:complexType>
<xs:sequence>
<xs:element name="returnInfos" type="tns:returnType" minOccurs="0" />
</xs:sequence>
</xs:complexType>
</xs:element>

<xs:element name="updateValueSetStatusResponseType">
<xs:complexType>
<xs:sequence>
<xs:element name="returnInfos" type="tns:returnType" minOccurs="0" />
</xs:sequence>
</xs:complexType>
</xs:element>

<xs:element name="valueSet" type="ns1:valueSet" />

<xs:element name="valueSetMetadataValue" type="ns1:valueSetMetadataValue" />

<xs:element name="valueSetVersion" type="ns1:valueSetVersion" />

<xs:complexType name="CreateValueSet">
<xs:sequence>
<xs:element name="parameter" type="tns:createValueSetRequestType" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="createValueSetRequestType">
<xs:sequence>
<xs:element name="loginToken" type="xs:string" minOccurs="0" />
<xs:element name="valueSet" type="ns1:valueSet" minOccurs="0" />
</xs:sequence>
</xs:complexType>


























<xs:complexType name="CreateValueSetResponse">
<xs:sequence>
<xs:element name="return" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="returnInfos" type="tns:returnType" minOccurs="0" />
<xs:element name="valueSet" type="ns1:valueSet" minOccurs="0" />
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="returnType">
<xs:sequence>
<xs:element name="count" type="xs:int" />
<xs:element name="message" type="xs:string" minOccurs="0" />
<xs:element name="overallErrorCategory" type="tns:overallErrorCategory" minOccurs="0" />
<xs:element name="status" type="tns:status" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="MaintainValueSetConceptMetadataValue">
<xs:sequence>
<xs:element name="parameter" type="tns:maintainValueSetConceptMetadataValueRequestType" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="maintainValueSetConceptMetadataValueRequestType">
<xs:sequence>
<xs:element name="loginToken" type="xs:string" minOccurs="0" />
<xs:element name="valueSetMetadataValues" type="ns1:valueSetMetadataValue" nillable="true" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="MaintainValueSetConceptMetadataValueResponse">
<xs:sequence>
<xs:element name="return" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="returnInfos" type="tns:returnType" minOccurs="0" />
<xs:element name="valueSetMetadataValues" type="ns1:valueSetMetadataValue" nillable="true" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="MaintainConcept">
<xs:sequence>
<xs:element name="parameter" type="tns:maintainConceptRequestType" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="maintainConceptRequestType">
<xs:sequence>
<xs:element name="codeSystemEntity" type="ns1:codeSystemEntity" minOccurs="0" />
<xs:element name="codeSystemVersionId" type="xs:long" minOccurs="0" />
<xs:element name="loginToken" type="xs:string" minOccurs="0" />
<xs:element name="versioning" type="tns:versioningType" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="versioningType">
<xs:sequence>
<xs:element name="createNewVersion" type="xs:boolean" minOccurs="0" />
<xs:element name="majorUpdate" type="xs:boolean" minOccurs="0" />
<xs:element name="minorUpdate" type="xs:boolean" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="MaintainConceptResponse">
<xs:sequence>
<xs:element name="return" type="tns:maintainConceptResponseType" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="maintainConceptResponseType">
<xs:sequence>
<xs:element name="returnInfos" type="tns:returnType" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="MaintainConceptAssociationType">
<xs:sequence>
<xs:element name="parameter" type="tns:maintainConceptAssociationTypeRequestType" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="maintainConceptAssociationTypeRequestType">
<xs:sequence>
<xs:element name="codeSystemEntity" type="ns1:codeSystemEntity" minOccurs="0" />
<xs:element name="loginToken" type="xs:string" minOccurs="0" />
<xs:element name="versioning" type="tns:versioningType" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="MaintainConceptAssociationTypeResponse">
<xs:sequence>
<xs:element name="return" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="returnInfos" type="tns:returnType" minOccurs="0" />
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="CreateValueSetContent">
<xs:sequence>
<xs:element name="parameter" type="tns:createValueSetContentRequestType" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="createValueSetContentRequestType">
<xs:sequence>
<xs:element name="codeSystemEntity" type="ns1:codeSystemEntity" nillable="true" minOccurs="0" maxOccurs="unbounded" />
<xs:element name="loginToken" type="xs:string" minOccurs="0" />
<xs:element name="valueSet" type="ns1:valueSet" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="CreateValueSetContentResponse">
<xs:sequence>
<xs:element name="return" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="returnInfos" type="tns:returnType" minOccurs="0" />
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="RemoveValueSetContent">
<xs:sequence>
<xs:element name="parameter" type="tns:removeValueSetContentRequestType" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="removeValueSetContentRequestType">
<xs:sequence>
<xs:element name="codeSystemEntity" type="ns1:codeSystemEntity" nillable="true" minOccurs="0" maxOccurs="unbounded" />
<xs:element name="loginToken" type="xs:string" minOccurs="0" />
<xs:element name="valueSet" type="ns1:valueSet" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="RemoveValueSetContentResponse">
<xs:sequence>
<xs:element name="return" type="tns:removeValueSetContentResponseType" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="removeValueSetContentResponseType">
<xs:sequence>
<xs:element name="returnInfos" type="tns:returnType" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="CreateCodeSystem">
<xs:sequence>
<xs:element name="parameter" type="tns:createCodeSystemRequestType" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="createCodeSystemRequestType">
<xs:sequence>
<xs:element name="codeSystem" type="ns1:codeSystem" minOccurs="0" />
<xs:element name="loginToken" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="CreateCodeSystemResponse">
<xs:sequence>
<xs:element name="return" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="returnInfos" type="tns:returnType" minOccurs="0" />
<xs:element name="codeSystem" type="ns1:codeSystem" minOccurs="0" />
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="RemoveTerminologyOrConcept">
<xs:sequence>
<xs:element name="parameter" type="tns:removeTerminologyOrConceptRequestType" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="removeTerminologyOrConceptRequestType">
<xs:sequence>
<xs:element name="deleteInfo" type="tns:deleteInfo" minOccurs="0" />
<xs:element name="loginToken" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteInfo">
<xs:sequence>
<xs:element name="codeSystem" type="ns1:codeSystem" minOccurs="0" />
<xs:element name="codeSystemEntityVersion" type="ns1:codeSystemEntityVersion" minOccurs="0" />
<xs:element name="type" type="tns:type" minOccurs="0" />
<xs:element name="valueSet" type="ns1:valueSet" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="RemoveTerminologyOrConceptResponse">
<xs:sequence>
<xs:element name="return" type="tns:removeTerminologyOrConceptResponseType" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="removeTerminologyOrConceptResponseType">
<xs:sequence>
<xs:element name="returnInfos" type="tns:returnType" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="UpdateConceptStatus">
<xs:sequence>
<xs:element name="parameter" type="tns:updateConceptStatusRequestType" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateConceptStatusRequestType">
<xs:sequence>
<xs:element name="codeSystemEntity" type="ns1:codeSystemEntity" minOccurs="0" />
<xs:element name="loginToken" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="UpdateConceptStatusResponse">
<xs:sequence>
<xs:element name="return" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="returnInfos" type="tns:returnType" minOccurs="0" />
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="CreateConcept">
<xs:sequence>
<xs:element name="parameter" type="tns:createConceptRequestType" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="createConceptRequestType">
<xs:sequence>
<xs:element name="codeSystem" type="ns1:codeSystem" minOccurs="0" />
<xs:element name="codeSystemEntity" type="ns1:codeSystemEntity" minOccurs="0" />
<xs:element name="loginToken" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="CreateConceptResponse">
<xs:sequence>
<xs:element name="return" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="returnInfos" type="tns:returnType" minOccurs="0" />
<xs:element name="codeSystemEntity" type="ns1:codeSystemEntity" minOccurs="0" />
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="MaintainValueSet">
<xs:sequence>
<xs:element name="parameter" type="tns:maintainValueSetRequestType" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="maintainValueSetRequestType">
<xs:sequence>
<xs:element name="loginToken" type="xs:string" minOccurs="0" />
<xs:element name="valueSet" type="ns1:valueSet" minOccurs="0" />
<xs:element name="versioning" type="tns:versioningType" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="MaintainValueSetResponse">
<xs:sequence>
<xs:element name="return" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="returnInfos" type="tns:returnType" minOccurs="0" />
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="UpdateValueSetStatus">
<xs:sequence>
<xs:element name="parameter" type="tns:updateValueSetStatusRequestType" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateValueSetStatusRequestType">
<xs:sequence>
<xs:element name="loginToken" type="xs:string" minOccurs="0" />
<xs:element name="valueSet" type="ns1:valueSet" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="UpdateValueSetStatusResponse">
<xs:sequence>
<xs:element name="return" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="returnInfos" type="tns:returnType" minOccurs="0" />
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="DeleteValueSetConceptMetadataValue">
<xs:sequence>
<xs:element name="parameter" type="tns:deleteValueSetConceptMetadataValueRequestType" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteValueSetConceptMetadataValueRequestType">
<xs:sequence>
<xs:element name="loginToken" type="xs:string" minOccurs="0" />
<xs:element name="valueSetMetadataValue" type="ns1:valueSetMetadataValue" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="DeleteValueSetConceptMetadataValueResponse">
<xs:sequence>
<xs:element name="return" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="returnInfos" type="tns:returnType" minOccurs="0" />
<xs:element name="valueSetMetadataValue" type="ns1:valueSetMetadataValue" nillable="true" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="MaintainCodeSystemConceptMetadataValue">
<xs:sequence>
<xs:element name="parameter" type="tns:maintainCodeSystemConceptMetadataValueRequestType" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="maintainCodeSystemConceptMetadataValueRequestType">
<xs:sequence>
<xs:element name="codeSystemMetadataValues" type="ns1:codeSystemMetadataValue" nillable="true" minOccurs="0" maxOccurs="unbounded" />
<xs:element name="codeSystemVersionId" type="xs:long" minOccurs="0" />
<xs:element name="loginToken" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="MaintainCodeSystemConceptMetadataValueResponse">
<xs:sequence>
<xs:element name="return" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="returnInfos" type="tns:returnType" minOccurs="0" />
<xs:element name="codeSystemMetadataValues" type="ns1:codeSystemMetadataValue" nillable="true" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="CreateValueSetConceptMetadataValue">
<xs:sequence>
<xs:element name="parameter" type="tns:createValueSetConceptMetadataValueRequestType" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="createValueSetConceptMetadataValueRequestType">
<xs:sequence>
<xs:element name="loginToken" type="xs:string" minOccurs="0" />
<xs:element name="valueSetMetadataValue" type="ns1:valueSetMetadataValue" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="CreateValueSetConceptMetadataValueResponse">
<xs:sequence>
<xs:element name="return" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="returnInfos" type="tns:returnType" minOccurs="0" />
<xs:element name="valueSetMetadataValue" type="ns1:valueSetMetadataValue" nillable="true" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="UpdateConceptValueSetMembershipStatus">
<xs:sequence>
<xs:element name="parameter" type="tns:updateConceptValueSetMembershipStatusRequestType" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateConceptValueSetMembershipStatusRequestType">
<xs:sequence>
<xs:element name="codeSystemEntityVersion" type="ns1:codeSystemEntityVersion" minOccurs="0" />
<xs:element name="loginToken" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="UpdateConceptValueSetMembershipStatusResponse">
<xs:sequence>
<xs:element name="return" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="returnInfos" type="tns:returnType" minOccurs="0" />
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="UpdateCodeSystemVersionStatus">
<xs:sequence>
<xs:element name="parameter" type="tns:updateCodeSystemVersionStatusRequestType" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateCodeSystemVersionStatusRequestType">
<xs:sequence>
<xs:element name="codeSystem" type="ns1:codeSystem" minOccurs="0" />
<xs:element name="loginToken" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="UpdateCodeSystemVersionStatusResponse">
<xs:sequence>
<xs:element name="return" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="returnInfos" type="tns:returnType" minOccurs="0" />
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="CreateConceptAssociationType">
<xs:sequence>
<xs:element name="parameter" type="tns:createConceptAssociationTypeRequestType" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="createConceptAssociationTypeRequestType">
<xs:sequence>
<xs:element name="codeSystem" type="ns1:codeSystem" minOccurs="0" />
<xs:element name="codeSystemEntity" type="ns1:codeSystemEntity" minOccurs="0" />
<xs:element name="loginToken" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="CreateConceptAssociationTypeResponse">
<xs:sequence>
<xs:element name="return" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="returnInfos" type="tns:returnType" minOccurs="0" />
<xs:element name="codeSystemEntity" type="ns1:codeSystemEntity" minOccurs="0" />
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="MaintainCodeSystemVersion">
<xs:sequence>
<xs:element name="parameter" type="tns:maintainCodeSystemVersionRequestType" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="maintainCodeSystemVersionRequestType">
<xs:sequence>
<xs:element name="codeSystem" type="ns1:codeSystem" minOccurs="0" />
<xs:element name="loginToken" type="xs:string" minOccurs="0" />
<xs:element name="versioning" type="tns:versioningType" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="MaintainCodeSystemVersionResponse">
<xs:sequence>
<xs:element name="return" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="returnInfos" type="tns:returnType" minOccurs="0" />
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="MaintainConceptValueSetMembership">
<xs:sequence>
<xs:element name="parameter" type="tns:maintainConceptValueSetMembershipRequestType" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="maintainConceptValueSetMembershipRequestType">
<xs:sequence>
<xs:element name="codeSystemEntityVersion" type="ns1:codeSystemEntityVersion" minOccurs="0" />
<xs:element name="loginToken" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="MaintainConceptValueSetMembershipResponse">
<xs:sequence>
<xs:element name="return" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="returnInfos" type="tns:returnType" minOccurs="0" />
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>

<xs:simpleType name="overallErrorCategory">
<xs:restriction base="xs:string">
<xs:enumeration value="INFO" />
<xs:enumeration value="WARN" />
<xs:enumeration value="ERROR" />
</xs:restriction>
</xs:simpleType>

<xs:simpleType name="status">
<xs:restriction base="xs:string">
<xs:enumeration value="OK" />
<xs:enumeration value="FAILURE" />
</xs:restriction>
</xs:simpleType>

<xs:simpleType name="type">
<xs:restriction base="xs:string">
<xs:enumeration value="CODE_SYSTEM" />
<xs:enumeration value="CODE_SYSTEM_VERSION" />
<xs:enumeration value="VALUE_SET" />
<xs:enumeration value="VALUE_SET_VERSION" />
<xs:enumeration value="CODE_SYSTEM_ENTITY_VERSION" />
</xs:restriction>
</xs:simpleType>
</xs:schema>