src/TermAdmin/web/WEB-INF/wsdl/10.7.0.15_8080/TermServer/Authoring.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://authoring.ws.terminologie.fhdo.de/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://authoring.ws.terminologie.fhdo.de/" name="Authoring">
<types>
<xsd:schema>
<xsd:import namespace="http://authoring.ws.terminologie.fhdo.de/" schemaLocation="http://localhost:8080/TermServer/Authoring?xsd=1" />
</xsd:schema>
<xsd:schema>
<xsd:import namespace="de.fhdo.termserver.types" schemaLocation="http://localhost:8080/TermServer/Authoring?xsd=2" />
</xsd:schema>
</types>
<message name="UpdateCodeSystemVersionStatus">
<part name="parameters" element="tns:UpdateCodeSystemVersionStatus" />
</message>
<message name="UpdateCodeSystemVersionStatusResponse">
<part name="parameters" element="tns:UpdateCodeSystemVersionStatusResponse" />
</message>
<message name="CreateCodeSystem">
<part name="parameters" element="tns:CreateCodeSystem" />
</message>
<message name="CreateCodeSystemResponse">
<part name="parameters" element="tns:CreateCodeSystemResponse" />
</message>
<message name="CreateValueSet">
<part name="parameters" element="tns:CreateValueSet" />
</message>
<message name="CreateValueSetResponse">
<part name="parameters" element="tns:CreateValueSetResponse" />
</message>
<message name="MaintainValueSet">
<part name="parameters" element="tns:MaintainValueSet" />
</message>
<message name="MaintainValueSetResponse">
<part name="parameters" element="tns:MaintainValueSetResponse" />
</message>
<message name="CreateConcept">
<part name="parameters" element="tns:CreateConcept" />
</message>
<message name="CreateConceptResponse">
<part name="parameters" element="tns:CreateConceptResponse" />
</message>
<message name="CreateConceptAssociationType">
<part name="parameters" element="tns:CreateConceptAssociationType" />
</message>
<message name="CreateConceptAssociationTypeResponse">
<part name="parameters" element="tns:CreateConceptAssociationTypeResponse" />
</message>
<message name="CreateValueSetContent">
<part name="parameters" element="tns:CreateValueSetContent" />
</message>
<message name="CreateValueSetContentResponse">
<part name="parameters" element="tns:CreateValueSetContentResponse" />
</message>
<message name="UpdateConceptStatus">
<part name="parameters" element="tns:UpdateConceptStatus" />
</message>
<message name="UpdateConceptStatusResponse">
<part name="parameters" element="tns:UpdateConceptStatusResponse" />
</message>
<message name="UpdateValueSetStatus">
<part name="parameters" element="tns:UpdateValueSetStatus" />
</message>
<message name="UpdateValueSetStatusResponse">
<part name="parameters" element="tns:UpdateValueSetStatusResponse" />
</message>
<message name="MaintainCodeSystemVersion">
<part name="parameters" element="tns:MaintainCodeSystemVersion" />
</message>
<message name="MaintainCodeSystemVersionResponse">
<part name="parameters" element="tns:MaintainCodeSystemVersionResponse" />
</message>
<message name="MaintainConcept">
<part name="parameters" element="tns:MaintainConcept" />
</message>
<message name="MaintainConceptResponse">
<part name="parameters" element="tns:MaintainConceptResponse" />
</message>
<message name="RemoveValueSetContent">
<part name="parameters" element="tns:RemoveValueSetContent" />
</message>
<message name="RemoveValueSetContentResponse">
<part name="parameters" element="tns:RemoveValueSetContentResponse" />
</message>
<message name="MaintainConceptAssociationType">
<part name="parameters" element="tns:MaintainConceptAssociationType" />
</message>
<message name="MaintainConceptAssociationTypeResponse">
<part name="parameters" element="tns:MaintainConceptAssociationTypeResponse" />
</message>
<portType name="Authoring">
<operation name="UpdateCodeSystemVersionStatus">
<input wsam:Action="http://authoring.ws.terminologie.fhdo.de/Authoring/UpdateCodeSystemVersionStatusRequest" message="tns:UpdateCodeSystemVersionStatus" />
<output wsam:Action="http://authoring.ws.terminologie.fhdo.de/Authoring/UpdateCodeSystemVersionStatusResponse" message="tns:UpdateCodeSystemVersionStatusResponse" />
</operation>
<operation name="CreateCodeSystem">
<input wsam:Action="http://authoring.ws.terminologie.fhdo.de/Authoring/CreateCodeSystemRequest" message="tns:CreateCodeSystem" />
<output wsam:Action="http://authoring.ws.terminologie.fhdo.de/Authoring/CreateCodeSystemResponse" message="tns:CreateCodeSystemResponse" />
</operation>
<operation name="CreateValueSet">
<input wsam:Action="http://authoring.ws.terminologie.fhdo.de/Authoring/CreateValueSetRequest" message="tns:CreateValueSet" />
<output wsam:Action="http://authoring.ws.terminologie.fhdo.de/Authoring/CreateValueSetResponse" message="tns:CreateValueSetResponse" />
</operation>
<operation name="MaintainValueSet">
<input wsam:Action="http://authoring.ws.terminologie.fhdo.de/Authoring/MaintainValueSetRequest" message="tns:MaintainValueSet" />
<output wsam:Action="http://authoring.ws.terminologie.fhdo.de/Authoring/MaintainValueSetResponse" message="tns:MaintainValueSetResponse" />
</operation>
<operation name="CreateConcept">
<input wsam:Action="http://authoring.ws.terminologie.fhdo.de/Authoring/CreateConceptRequest" message="tns:CreateConcept" />
<output wsam:Action="http://authoring.ws.terminologie.fhdo.de/Authoring/CreateConceptResponse" message="tns:CreateConceptResponse" />
</operation>
<operation name="CreateConceptAssociationType">
<input wsam:Action="http://authoring.ws.terminologie.fhdo.de/Authoring/CreateConceptAssociationTypeRequest" message="tns:CreateConceptAssociationType" />
<output wsam:Action="http://authoring.ws.terminologie.fhdo.de/Authoring/CreateConceptAssociationTypeResponse" message="tns:CreateConceptAssociationTypeResponse" />
</operation>
<operation name="CreateValueSetContent">
<input wsam:Action="http://authoring.ws.terminologie.fhdo.de/Authoring/CreateValueSetContentRequest" message="tns:CreateValueSetContent" />
<output wsam:Action="http://authoring.ws.terminologie.fhdo.de/Authoring/CreateValueSetContentResponse" message="tns:CreateValueSetContentResponse" />
</operation>
<operation name="UpdateConceptStatus">
<input wsam:Action="http://authoring.ws.terminologie.fhdo.de/Authoring/UpdateConceptStatusRequest" message="tns:UpdateConceptStatus" />
<output wsam:Action="http://authoring.ws.terminologie.fhdo.de/Authoring/UpdateConceptStatusResponse" message="tns:UpdateConceptStatusResponse" />
</operation>
<operation name="UpdateValueSetStatus">
<input wsam:Action="http://authoring.ws.terminologie.fhdo.de/Authoring/UpdateValueSetStatusRequest" message="tns:UpdateValueSetStatus" />
<output wsam:Action="http://authoring.ws.terminologie.fhdo.de/Authoring/UpdateValueSetStatusResponse" message="tns:UpdateValueSetStatusResponse" />
</operation>
<operation name="MaintainCodeSystemVersion">
<input wsam:Action="http://authoring.ws.terminologie.fhdo.de/Authoring/MaintainCodeSystemVersionRequest" message="tns:MaintainCodeSystemVersion" />
<output wsam:Action="http://authoring.ws.terminologie.fhdo.de/Authoring/MaintainCodeSystemVersionResponse" message="tns:MaintainCodeSystemVersionResponse" />
</operation>
<operation name="MaintainConcept">
<input wsam:Action="http://authoring.ws.terminologie.fhdo.de/Authoring/MaintainConceptRequest" message="tns:MaintainConcept" />
<output wsam:Action="http://authoring.ws.terminologie.fhdo.de/Authoring/MaintainConceptResponse" message="tns:MaintainConceptResponse" />
</operation>
<operation name="RemoveValueSetContent">
<input wsam:Action="http://authoring.ws.terminologie.fhdo.de/Authoring/RemoveValueSetContentRequest" message="tns:RemoveValueSetContent" />
<output wsam:Action="http://authoring.ws.terminologie.fhdo.de/Authoring/RemoveValueSetContentResponse" message="tns:RemoveValueSetContentResponse" />
</operation>
<operation name="MaintainConceptAssociationType">
<input wsam:Action="http://authoring.ws.terminologie.fhdo.de/Authoring/MaintainConceptAssociationTypeRequest" message="tns:MaintainConceptAssociationType" />
<output wsam:Action="http://authoring.ws.terminologie.fhdo.de/Authoring/MaintainConceptAssociationTypeResponse" message="tns:MaintainConceptAssociationTypeResponse" />
</operation>
</portType>
<binding name="AuthoringPortBinding" type="tns:Authoring">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="UpdateCodeSystemVersionStatus">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="CreateCodeSystem">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="CreateValueSet">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="MaintainValueSet">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="CreateConcept">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="CreateConceptAssociationType">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="CreateValueSetContent">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="UpdateConceptStatus">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="UpdateValueSetStatus">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="MaintainCodeSystemVersion">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="MaintainConcept">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="RemoveValueSetContent">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="MaintainConceptAssociationType">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="Authoring">
<port name="AuthoringPort" binding="tns:AuthoringPortBinding">
<soap:address location="http://localhost:8080/TermServer/Authoring" />
</port>
</service>
</definitions>