src/TermBrowser/web/WEB-INF/wsdl/127.0.0.1_8080/TermServer/Search.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://search.ws.terminologie.fhdo.de/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://search.ws.terminologie.fhdo.de/" name="Search">
<types>
<xsd:schema>
<xsd:import namespace="http://search.ws.terminologie.fhdo.de/" schemaLocation="http://127.0.0.1:8080/TermServer/Search?xsd=1" />
</xsd:schema>
<xsd:schema>
<xsd:import namespace="de.fhdo.termserver.types" schemaLocation="http://127.0.0.1:8080/TermServer/Search?xsd=2" />
</xsd:schema>
</types>
<message name="ListCodeSystems">
<part name="parameters" element="tns:ListCodeSystems" />
</message>
<message name="ListCodeSystemsResponse">
<part name="parameters" element="tns:ListCodeSystemsResponse" />
</message>
<message name="ListValueSets">
<part name="parameters" element="tns:ListValueSets" />
</message>
<message name="ListValueSetsResponse">
<part name="parameters" element="tns:ListValueSetsResponse" />
</message>
<message name="ListConceptAssociationTypes">
<part name="parameters" element="tns:ListConceptAssociationTypes" />
</message>
<message name="ListConceptAssociationTypesResponse">
<part name="parameters" element="tns:ListConceptAssociationTypesResponse" />
</message>
<message name="ListCodeSystemsInTaxonomy">
<part name="parameters" element="tns:ListCodeSystemsInTaxonomy" />
</message>
<message name="ListCodeSystemsInTaxonomyResponse">
<part name="parameters" element="tns:ListCodeSystemsInTaxonomyResponse" />
</message>
<message name="ListValueSetContents">
<part name="parameters" element="tns:ListValueSetContents" />
</message>
<message name="ListValueSetContentsResponse">
<part name="parameters" element="tns:ListValueSetContentsResponse" />
</message>
<message name="ListDomainValues">
<part name="parameters" element="tns:ListDomainValues" />
</message>
<message name="ListDomainValuesResponse">
<part name="parameters" element="tns:ListDomainValuesResponse" />
</message>
<message name="ReturnConceptDetails">
<part name="parameters" element="tns:ReturnConceptDetails" />
</message>
<message name="ReturnConceptDetailsResponse">
<part name="parameters" element="tns:ReturnConceptDetailsResponse" />
</message>
<message name="ReturnValueSetDetails">
<part name="parameters" element="tns:ReturnValueSetDetails" />
</message>
<message name="ReturnValueSetDetailsResponse">
<part name="parameters" element="tns:ReturnValueSetDetailsResponse" />
</message>
<message name="ReturnCodeSystemDetails">
<part name="parameters" element="tns:ReturnCodeSystemDetails" />
</message>
<message name="ReturnCodeSystemDetailsResponse">
<part name="parameters" element="tns:ReturnCodeSystemDetailsResponse" />
</message>
<message name="ListCodeSystemConcepts">
<part name="parameters" element="tns:ListCodeSystemConcepts" />
</message>
<message name="ListCodeSystemConceptsResponse">
<part name="parameters" element="tns:ListCodeSystemConceptsResponse" />
</message>
<message name="ReturnConceptAssociationTypeDetails">
<part name="parameters" element="tns:ReturnConceptAssociationTypeDetails" />
</message>
<message name="ReturnConceptAssociationTypeDetailsResponse">
<part name="parameters" element="tns:ReturnConceptAssociationTypeDetailsResponse" />
</message>
<message name="ListDomains">
<part name="parameters" element="tns:ListDomains" />
</message>
<message name="ListDomainsResponse">
<part name="parameters" element="tns:ListDomainsResponse" />
</message>
<portType name="Search">
<operation name="ListCodeSystems">
<input wsam:Action="http://search.ws.terminologie.fhdo.de/Search/ListCodeSystemsRequest" message="tns:ListCodeSystems" />
<output wsam:Action="http://search.ws.terminologie.fhdo.de/Search/ListCodeSystemsResponse" message="tns:ListCodeSystemsResponse" />
</operation>
<operation name="ListValueSets">
<input wsam:Action="http://search.ws.terminologie.fhdo.de/Search/ListValueSetsRequest" message="tns:ListValueSets" />
<output wsam:Action="http://search.ws.terminologie.fhdo.de/Search/ListValueSetsResponse" message="tns:ListValueSetsResponse" />
</operation>
<operation name="ListConceptAssociationTypes">
<input wsam:Action="http://search.ws.terminologie.fhdo.de/Search/ListConceptAssociationTypesRequest" message="tns:ListConceptAssociationTypes" />
<output wsam:Action="http://search.ws.terminologie.fhdo.de/Search/ListConceptAssociationTypesResponse" message="tns:ListConceptAssociationTypesResponse" />
</operation>
<operation name="ListCodeSystemsInTaxonomy">
<input wsam:Action="http://search.ws.terminologie.fhdo.de/Search/ListCodeSystemsInTaxonomyRequest" message="tns:ListCodeSystemsInTaxonomy" />
<output wsam:Action="http://search.ws.terminologie.fhdo.de/Search/ListCodeSystemsInTaxonomyResponse" message="tns:ListCodeSystemsInTaxonomyResponse" />
</operation>
<operation name="ListValueSetContents">
<input wsam:Action="http://search.ws.terminologie.fhdo.de/Search/ListValueSetContentsRequest" message="tns:ListValueSetContents" />
<output wsam:Action="http://search.ws.terminologie.fhdo.de/Search/ListValueSetContentsResponse" message="tns:ListValueSetContentsResponse" />
</operation>
<operation name="ListDomainValues">
<input wsam:Action="http://search.ws.terminologie.fhdo.de/Search/ListDomainValuesRequest" message="tns:ListDomainValues" />
<output wsam:Action="http://search.ws.terminologie.fhdo.de/Search/ListDomainValuesResponse" message="tns:ListDomainValuesResponse" />
</operation>
<operation name="ReturnConceptDetails">
<input wsam:Action="http://search.ws.terminologie.fhdo.de/Search/ReturnConceptDetailsRequest" message="tns:ReturnConceptDetails" />
<output wsam:Action="http://search.ws.terminologie.fhdo.de/Search/ReturnConceptDetailsResponse" message="tns:ReturnConceptDetailsResponse" />
</operation>
<operation name="ReturnValueSetDetails">
<input wsam:Action="http://search.ws.terminologie.fhdo.de/Search/ReturnValueSetDetailsRequest" message="tns:ReturnValueSetDetails" />
<output wsam:Action="http://search.ws.terminologie.fhdo.de/Search/ReturnValueSetDetailsResponse" message="tns:ReturnValueSetDetailsResponse" />
</operation>
<operation name="ReturnCodeSystemDetails">
<input wsam:Action="http://search.ws.terminologie.fhdo.de/Search/ReturnCodeSystemDetailsRequest" message="tns:ReturnCodeSystemDetails" />
<output wsam:Action="http://search.ws.terminologie.fhdo.de/Search/ReturnCodeSystemDetailsResponse" message="tns:ReturnCodeSystemDetailsResponse" />
</operation>
<operation name="ListCodeSystemConcepts">
<input wsam:Action="http://search.ws.terminologie.fhdo.de/Search/ListCodeSystemConceptsRequest" message="tns:ListCodeSystemConcepts" />
<output wsam:Action="http://search.ws.terminologie.fhdo.de/Search/ListCodeSystemConceptsResponse" message="tns:ListCodeSystemConceptsResponse" />
</operation>
<operation name="ReturnConceptAssociationTypeDetails">
<input wsam:Action="http://search.ws.terminologie.fhdo.de/Search/ReturnConceptAssociationTypeDetailsRequest" message="tns:ReturnConceptAssociationTypeDetails" />
<output wsam:Action="http://search.ws.terminologie.fhdo.de/Search/ReturnConceptAssociationTypeDetailsResponse" message="tns:ReturnConceptAssociationTypeDetailsResponse" />
</operation>
<operation name="ListDomains">
<input wsam:Action="http://search.ws.terminologie.fhdo.de/Search/ListDomainsRequest" message="tns:ListDomains" />
<output wsam:Action="http://search.ws.terminologie.fhdo.de/Search/ListDomainsResponse" message="tns:ListDomainsResponse" />
</operation>
</portType>
<binding name="SearchPortBinding" type="tns:Search">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="ListCodeSystems">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="ListValueSets">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="ListConceptAssociationTypes">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="ListCodeSystemsInTaxonomy">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="ListValueSetContents">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="ListDomainValues">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="ReturnConceptDetails">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="ReturnValueSetDetails">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="ReturnCodeSystemDetails">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="ListCodeSystemConcepts">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="ReturnConceptAssociationTypeDetails">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="ListDomains">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="Search">
<port name="SearchPort" binding="tns:SearchPortBinding">
<soap:address location="http://127.0.0.1:8080/TermServer/Search" />
</port>
</service>
</definitions>