src/TermServer/src/java/META-INF/wsit-de.fhdo.terminologie.ws.administration.Administration.xml

<?xml version="1.0" encoding="UTF-8"?> 
 <definitions 
 xmlns="http://schemas.xmlsoap.org/wsdl/" 
 xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
 xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
 xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="Administration" targetNamespace="http://administration.ws.terminologie.fhdo.de/" xmlns:tns="http://administration.ws.terminologie.fhdo.de/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:fi="http://java.sun.com/xml/ns/wsit/2006/09/policy/fastinfoset/service" xmlns:tcp="http://java.sun.com/xml/ns/wsit/2006/09/policy/soaptcp/service" xmlns:wsoma="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" 
 >
    <message name="CreateDomain"/>
    <message name="CreateDomainResponse"/>
    <message name="MaintainDomain"/>
    <message name="MaintainDomainResponse"/>
    <message name="ImportCodeSystem"/>
    <message name="ImportCodeSystemResponse"/>
    <message name="ExportCodeSystemContent"/>
    <message name="ExportCodeSystemContentResponse"/>
    <message name="CheckImportStatus"/>
    <message name="CheckImportStatusResponse"/>
    <message name="ImportCodeSystemStatus"/>
    <message name="ImportCodeSystemStatusResponse"/>
    <portType name="Administration">
        <operation name="CreateDomain">
            <input message="tns:CreateDomain"/>
            <output message="tns:CreateDomainResponse"/>
        </operation>
        <operation name="MaintainDomain">
            <input message="tns:MaintainDomain"/>
            <output message="tns:MaintainDomainResponse"/>
        </operation>
        <operation name="ImportCodeSystem">
            <input message="tns:ImportCodeSystem"/>
            <output message="tns:ImportCodeSystemResponse"/>
        </operation>
        <operation name="ExportCodeSystemContent">
            <input message="tns:ExportCodeSystemContent"/>
            <output message="tns:ExportCodeSystemContentResponse"/>
        </operation>
        <operation name="CheckImportStatus">
            <input message="tns:CheckImportStatus"/>
            <output message="tns:CheckImportStatusResponse"/>
        </operation>
        <operation name="ImportCodeSystemStatus">
            <input message="tns:ImportCodeSystemStatus"/>
            <output message="tns:ImportCodeSystemStatusResponse"/>
        </operation>
    </portType>
    <binding name="AdministrationPortBinding" type="tns:Administration">
        <wsp:PolicyReference URI="#AdministrationPortBindingPolicy"/>
        <operation name="CreateDomain">
            <input/>
            <output/>
        </operation>
        <operation name="MaintainDomain">
            <input/>
            <output/>
        </operation>
        <operation name="ImportCodeSystem">
            <input/>
            <output/>
        </operation>
        <operation name="ExportCodeSystemContent">
            <input/>
            <output/>
        </operation>
        <operation name="CheckImportStatus">
            <input/>
            <output/>
        </operation>
        <operation name="ImportCodeSystemStatus">
            <input/>
            <output/>
        </operation>
    </binding>
    <service name="Administration">
        <port name="AdministrationPort" binding="tns:AdministrationPortBinding"/>
    </service>
    <wsp:Policy wsu:Id="AdministrationPortBindingPolicy">
        <wsp:ExactlyOne>
            <wsp:All>
                <wsoma:OptimizedMimeSerialization/>
            </wsp:All>
        </wsp:ExactlyOne>
    </wsp:Policy>
</definitions>
